﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
    var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
    rendering.Class = "sc-UserOptions";
    rendering.Requires.Script("client", "UserOptions.js");

    var htmlAttributes = rendering.HtmlAttributes;
}
<div @htmlAttributes>
    <div class="optionsMenu">
        <ul>
            <li class="resetAll">Reset to default</li>
        </ul>
    </div>
</div>

