﻿/*CSS to make the top of the application transparent.*/
.columns.content { background: #4E4E4E url(/sitecore/shell/themes/standard/gradients/gray1.gif) 50% 0 repeat-y; }
.ucommerce-tree-header, .tree-wrapper, #mainframe { background-color: rgba(255, 255, 255, 0) !important;}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Lucida Grande;
	background-color: #D2D5DA;
}

#ucommerceMainPageBody {
    background-color: #D2D5DA;
	overflow: hidden;

}

#mainframe {
	height:100%;
	width:100%;
	border-left: 1px solid #4C535C;
	border-top: none;
	background: rgba(255, 255, 255, 0) !important;
}

.modal-header span {
	font-size: 18px;
	font-weight: bold;
}

.container-fluid {
    margin: 0;
    height: 100%;
    padding: 20px 0;
	padding-left: 0 !important;
	padding-right: 0px !important;
	padding-top: 0 !important;
	padding-bottom: 0px !important;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.columns {
    height: 100%;
   
}

.background {
	position: absolute;
	display: inline-block;
	background: url("../images/transparent.gif");
	width: 74.7%;
	height: 100%;
	z-index: 1;
	overflow: hidden;
}

.background * {
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	margin-top: 70px;
	background: #f0f1f2;
}

.content-area, .article-tree, .ui-splitter{
	float: left;
	display: inline-block;
	position: relative;
	z-index: 2;
    height: 100%;
}

.ui-splitter {
	position: relative;
	width: 0.3%;
	background: #d2d5da;
	cursor: ew-resize;
	z-index: 30;
	overflow: hidden;
}

.content-area {
	width: 74.7%;
}

.ui-splitter .ui-splitter-top {
	left: 0px;
	height: 100%;
	width: 100%;
	background: url("../images/transparent.gif");
	position: relative;
	z-index: 40;
}

.ui-splitter .ui-splitter-bottom {
	background: url("../images/transparent.gif");
	position: absolute;
	border: 2px ridge;
	width: 6px;
	z-index: 40;
}

.article-tree {
	overflow-y: hidden;
	overflow-x: auto;
	width: 25%;
}


.content-area, .article-tree{
    height: 100%;
	overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    padding-bottom: 2px;
}

ul.ucommerce-navigation-tree {
    margin-left: 5px;
    padding-top: 5px;
    list-style-type:none;
}

/* to prevent tree from jumping around */
ul.ucommerce-navigation-tree li div {
	display: inline-block; 
}

.tree-wrapper-content .treeItemExpandContainer {
	display: table-cell;
  position: relative;
  width: 14px;
}

div.tree {
	margin-left: -5px;
	display: table-row;
}
div.treeIconName {
	white-space: nowrap;
}

.tree-wrapper .tree-wrapper-content {
    overflow: auto;
    border: 1px solid #4C535C;
	border-left: none;
	border-bottom: none;
	margin-top: -1px;
}

div.tree-wrapper-content {
	background: white;
	background-position-x: -10px;
}

.ucommerce-tree-header {
    display:block;
}

h2.ucommerce-tree-header-text {
    display:none
}

a.treeItemExpand:hover {
    text-decoration: none;
}

a.treeLink {
    color: #2f2f2f;
    font-size: 12px;
	cursor: pointer;
}

.ucommerce-navigation-tree li {
    line-height: 12px;
	margin-top: 5px;
}

.ucommerce-navigation-tree ul {
  list-style-type: none;
  margin: 0 0 0px 18px;
}

.tree-wrapper-content a {
  color: black;
	display: table-cell;
}
a.treeLink div {
  vertical-align: top;
}

a.treeItemExpand {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
a.treeItemExpand > span {
  position: relative;
  top: 1px;
  left: -4px;
  display: inline-block;
  width: 13px;
  height: 13px;
}
span.treeNodeIcon {
  padding-left: 20px;
    padding-bottom: 2px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  -moz-background-size: 16px 16px;
  -o-background-size: 16px 16px;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
}


/* Umbraco Umbraco Umbraco Umbraco Umbraco */
/*a.treeItemClosed > span {
    text-decoration: none;
    background: url("../Images/arrows.png") 0 -22px no-repeat;
}
a.treeItemClosed > span:hover {
    background: url("../Images/arrows.png") 0 0 no-repeat;
}
a.treeItemOpen > span {
    text-decoration: none;
    background: url("../Images/arrows.png") -17px -43px no-repeat;
}
a.treeItemOpen > span:hover {
    background: url("../Images/arrows.png") 0 -43px no-repeat;
}*/


/* Sitecore Sitecore Sitecore Sitecore Sitecore */
a.treeItemClosed > span {
    text-decoration: none;
    background: url("../Images/sc-expand.gif") 0 0 no-repeat;
}
/*a.treeItemClosed > span:hover {
    background: url("../Images/arrows.png") 0 0 no-repeat;
}*/
a.treeItemOpen > span {
    text-decoration: none;
    background: url("../Images/sc-collapse.gif") 0 0 no-repeat;
}
/*a.treeItemOpen > span:hover {
    background: url("../Images/arrows.png") 0 -43px no-repeat;
}*/


a.treeItemHidden {
    background: none;
    visibility: hidden;
}

a.dimNode {
    color:#c0c0c0;
}

.notifications {
    position: fixed;
    min-width: 200px;
}

.notifications.bottom-right {
    right: 25px;
    bottom: 25px;
}

a.nodeSelected span div span {
    background-color: #D5EFFC;
}

div.treeContextMenu > ul {
    z-index: 100;
	background:white url('../Images/contextMenuBg-sitecore.gif') repeat-y left;
	border: 1px solid #868686;
	padding-left: 3px;
	padding-right: 0;
	padding-top:2px;
	padding-bottom: 2px;
	width: auto;
	-moz-min-width: 200px;
	-ms-min-width: 200px;
	-o-min-width: 200px;
	-webkit-min-width: 200px;
	min-width: 140px;
	margin: 0;
	display: block;
	list-style-type: none;
	position: absolute;
}

div.treeContextMenu > ul > li {
    margin: 0;
    height: 22px;
    font-size:11px;
	line-height: 20px;
	white-space: nowrap;
}

div.treeContextMenu > ul > li > a {
	background-size: 16px;
	background-position: 2px 4px;
	background-repeat: no-repeat;
	text-indent:30px;
    color: #080864;
    display:block;
    height: 20px;
	padding-top: 1px;
	padding-left: 1px;
	padding-right: 5px;
	margin-right: 2px;
}

div.treeContextMenu > ul > li > a:hover {
    text-decoration:none;
    background-color: #DCECF3 !important;
    border:1px solid #A8D8EB;
	margin-right: 2px;
	padding-top: 0;
	padding-left: 0;
	padding-right: 4px;
	background-position: 1px 3px;
}

div.treeContextMenu > ul > li.separator {
    font-size: 1px;
    border-top: 1px solid #868686;
    line-height: 1px;
    height: 1px;
    margin-top:2px;
    margin-bottom:1px;
    margin-left: 29px;
	margin-right: 0px;
    min-height: 1px;
    display: block;
}

div.treeContextMenu > ul > li.separator > a {
    height: 0;
}

div.treeContextMenu > ul > li.separator > a:hover {
    border: none;
}

div.relative {
    position: relative;
}

div.absolute {
    position: absolute;
}

.ucommerce-modal-iframe {
    border: none;
    width: 98%;
    height: 98%;
    margin-top: 3px;
    margin-left: 3px;
}