﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
  rendering.Class = "sc-ChartJsPie";
  rendering.Requires.Script("client", "ChartJsPie.js");

  //Get attrs
  rendering.GetString("items", "items");
  rendering.GetString("facet", "facet");
  rendering.GetString("valueField", "valueField");
  rendering.GetString("argumentField", "argumentField");
  rendering.GetString("enabled", "enabled");
  rendering.GetString("title", "title");
  rendering.GetString("width", "width");
  rendering.GetString("height", "height");

  rendering.SetAttribute(HtmlTextWriterAttribute.Class, "pieBlock");
  var htmlAttributes = rendering.HtmlAttributes;
}

<div @htmlAttributes>
</div>
    
<style>
    .pieBlock {
        height: 215px;
    }
    #BrowserPieChartChart {
        background-color: #F6F6F6;
        padding: 0px 0px 19px 0px;
        margin-bottom:20px;
    }
    #LanguagePieChart {
        background-color: #F6F6F6;
        padding: 0px 0px 15px 0px;
        margin-bottom:20px;
    }
    #VisitsAgainstPatternsPieChart {
        background-color: #F6F6F6;
        padding: 0px 0px 10px 0px;
        margin:0px 0px 15px 5px;
    }
    #PatternCardMatchPieChart {
        background-color: #F6F6F6;
        padding: 0px 0px 10px 0px;
        margin:0px 0px 15px 5px;
    }
    #VisitsAgainstProfilesPieChart {
        background-color: #F6F6F6;
        padding: 0px 0px 10px 0px;
        margin:0px 0px 15px 0px;
    }
    #ProfileMatchPieChart {
        background-color: #F6F6F6;
        padding: 0px 0px 10px 0px;
        margin:0px 0px 15px 0px;
    }
    #NewReturningVisitorPieChartChart {
        background-color: #F6F6F6;
        margin-top:69px;
        padding-bottom:20px;
        border-top: 2px solid #dc3d24;
    }

</style>