﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
  rendering.Class = "sc-SiteSwitcher";
  rendering.Requires.Script("client", "SiteSwitcher.js");

  var htmlAttributes = rendering.HtmlAttributes;
}      
<div @htmlAttributes>
    <select id="siteSwitcher">

    </select>
</div>