﻿.SmallHeader { font-size:1.2em; }
.LargeHeader { font-size:1.8em; }
.RedText { color:red}
.BlueText { color:blue}
.BlueUpperCaseItalicUnderline { color:blue;text-transform:uppercase;font-weight:bolder;font-style:italic;text-decoration: underline;}
/* nothing to see here */