﻿<div id="ucommerceMainNavigation">
	<!-- main navigation view -->
    <div id="ucommerceTree" data-ng-controller="TreeController">
        <ul class="ucommerce-navigation-tree">
            <li>
                <ucommerce-tree class="tree" tree="data"></ucommerce-tree>
            </li>
        </ul>
    </div>
</div>