﻿@using System.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
    var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
    rendering.Class = "sc-ChartJsBlock";
    rendering.Requires.Script("client", "ChartJsBlock.js");
    //rendering.Requires.Css("client", "d3.min.css");

    //Get attrs
    rendering.GetString("items", "items");
    rendering.GetString("valueColumn", "valueColumn");
    rendering.GetString("text", "text");
    rendering.GetString("lineColour", "lineColour");
    rendering.GetString("enabled", "enabled");
    rendering.GetString("calculateAverage", "calculateAverage");
    rendering.GetString("appendText", "appendText");
    rendering.GetString("compareItems", "compareItems");
    rendering.GetString("compareRange", "compareRange");
    rendering.GetString("useSingleTotalValue", "useSingleTotalValue");
    
    rendering.SetAttribute(HtmlTextWriterAttribute.Id, rendering.ControlId.ToString(CultureInfo.InvariantCulture));
    var htmlAttributes = rendering.HtmlAttributes;
}      

<div style="position: relative;" class="span2">
    <div class="chartBlockLoading">
        <img src="/sitecore/shell/client/SPEAK/Assets/img/loading.gif"/>
        <span>Loading...</span>
    </div>
    <div @htmlAttributes>
    </div>
</div>


