﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
  rendering.Class = "sc-DateRangePicker";
  rendering.Requires.Script("client", "DateRangePicker.js");
  //rendering.Requires.Css("client", "daterangepicker.css");
  //rendering.Requires.Css("client", "clean.css");
  //rendering.Requires.Css("client", "ranges.css");

  rendering.GetString("fromDate", "fromDate");
  rendering.GetString("toDate", "toDate");
  rendering.GetString("fromDate2", "fromDate2");
  rendering.GetString("toDate2", "toDate2");
  rendering.GetString("compareRange", "compareRange");

  //Set attributes
  rendering.SetAttribute(HtmlTextWriterAttribute.Id, "DateRangesWidget");

  var htmlAttributes = rendering.HtmlAttributes;
}    
<div class="daterangepicker-wrapper">
    <div @htmlAttributes>
    </div>
</div>  

<script type="text/javascript">
    function hide() {
        $(".alert").hide("slide", { direction: "up" });
    }
</script>

<style>
        #datepicker-dropdown {
            font-size: 12px;
        }

    /* Style the calendar custom widget */
    .date-range {
        position:relative;
    }
    .date-range-field {
        overflow: hidden;
        position: relative;
        cursor:pointer;
        border: 1px solid #CCCCCC;
        background-color: white;
        height: 25px;
        margin-bottom: 10px;
        padding: 4px;
    }
    .date-range-field a  {
        color:#D2D2D2;
        text-align:center;
        display: block;
        position: absolute;
        width: 26px;
        top: 3px;
        right: 0;
        text-decoration: none;
        padding-top:2px;
        border-radius: 0 5px 5px 0;
    }
    .date-range-field span {
        font-size: 14px;
        font-weight: bold;
        color: #404040;
        position: relative;
        top: 0;
        left: 5px;
        text-align: center;
    }

    #datepicker-dropdown {
        position: absolute;
        top: 23px;
        left: 0;
        overflow: hidden;
        width: 750px;
        /*height:300px;*/
        background-color: #F7F7F7;
        border: 1px solid #CCCCCC;
        display:none;
        padding:10px 10px 0px 10px;
        box-shadow: 5px 5px 10px #ccc;
    }

    /* Remove default border from the custom widget since we're adding our own.  TBD: rework the dropdown calendar to use the default borders */
    #datepicker-dropdown div.datepicker {
        background-color: transparent;
        border: none;
        border-radius: 0;
        padding: 0;
    }

    #datepicker-dropdown select {
        width: auto;
        height: 20px;
        font-size: 90%;
        vertical-align: top;
        padding: 0;
    }

    #datepicker-dropdown input {
        width: auto;
        height: 10px;
        font-size: 90%;
        vertical-align: top;
    }

    .datepicker-calendar {
        float: left;
    }

    .datepicker-compare-calendar {
        clear: both;
        float: left;
    }

    /*.date-range-field span.comparison-divider, */
    .date-range-field span.comparison {
        text-align: left;
        display: block;
        color: gray;
        font-weight: normal;
        font-size: 12px;
        margin-top: -8px;
    }

    #datepicker-dropdown .right {
        float:left;
    }

    #datepicker-dropdown input[type=text] {
        width: 7em;
    }

    .datepicker, .date-ranges-form {
        float: left;
    }

    .date-ranges-form {
        margin-left: 10px;
        float: right;
        padding: 0 10px 10px 10px;
    }


    .dr1.active {
        border-color: #07C
    }
    .dr2.active {
        border-color: #86BE2B
    }

    #datepicker-dropdown input.daterange-preset-parameter1 {
        width: 40px;
        height: 18px;
        font-size: 90%;
        vertical-align: top;
        padding: 0;
    }

    span.aggregation {
        background: #eee;
        border: #ccc 1px solid;
        margin-right: 5px;
        padding: 2px 5px 0 5px;
        float: left;
        height: 26px !important;
        border-radius: 6px !important;
    }
    /* Datepicker border styling */
    .datepicker {
        background-color: #F7F7F7;
        border: 1px solid #CCCCCC;
        border-radius: 5px 5px 5px 5px;
        padding: 10px;
    }

    /* Tighten up the spacing between multiple calendars */
    .datepickerSpace div {
        width:2px;
    }

    /* Grey background behind Month Name row, and blue text */
    div.datepicker th {
        background-color:#DDDDDD;
    }
    div.datepicker th a.datepickerMonth {
        color:#008ED6;
        font-weight:normal;
    }

    /* style the day of week header cells */
    div.datepicker th {
        color: black;
        font-weight: bold;
    }
    /* grey underline beneath day of week row */
    div.datepicker table thead tr.datepickerDoW th {
        border-bottom: 1px solid #CCCCCC;
    }

    /* Black text, white background, and grey borders around day cells */
    div.datepicker a,
    div.datepicker a:hover {
        color: black;
    }
    div.datepicker table.datepickerViewDays,
    div.datepicker table.datepickerViewMonths,
    div.datepicker table.datepickerViewYears {
        background-color:white;
        z-index: 10001;
    }
    div.datepicker table tbody.datepickerDays td {
        border: 1px solid #F7F7F7;
    }

    /* blue cell color for selected days */
    tbody.datepickerDays td.datepickerSelected {
        background-color:#0077CC;
    }

    /* green cell color for selected days */
    tbody.datepickerDays td.datepickerSelected2 {
        background-color:#86BE2B;
    }

    /* Grey out dates in the future */
    div.datepicker td.datepickerFuture a {
        color:#DDDDDD;
    }

    /* yellow cell background on hover */
    div.datepicker tbody.datepickerDays td:hover {
        background-color: #FFCC33;
    }

    /* Bold today's date */
    div.datepicker td.datepickerToday a {
        font-weight:bold;
    }
    .datepickerMonths {
        display: none;
    }
    .datepickerYears {
        display: none;
    }

    /* cells are wider in the clean style */
    .datepickerYears a, .datepickerMonths a {
        width: 43px;
    }
    .datepickerMonths td:first-child a,
    .datepickerYears td:first-child a {
        width:41px;
    }
    div.datepicker th a.datepickerMonth {
        width:141px;
    }
    body {
        font-family: Helvetica, arial, sans-serif;
    }

    #container {
        width: 700px;
        margin: 0 auto;
    }

    .item {
        height: 200px;
        border-bottom: 1px solid #D1D3D4;
    }

    .pickerContainer {
        float: left;
        width: 200px;
        z-index: 10001;
    }
    .pickerContainer.widget {
        width: 230px;
        z-index: 10001;
    }

    div.comment {
        margin: -15px 0 10px 0;

        color: #505050;
        font-size: 12px;
    }

    .pickerContainer.range,
    .pickerContainer.tworanges{
        width: 375px;
    }

    #container .pickerCode {
        float: right;
        width: 494px;
        border: 1px dashed #D1D3D4;

        margin: 0;
        padding: 2px;
    }

    #container .pickerCode.range {
        width: 319px;
    }
    div.datepicker {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        width: 196px;
        height: 147px;
        position: absolute;
        cursor: default;
        top: 0;
        left: 0;
        display: none;
    }
    .datepickerContainer {
        position: absolute;
        margin-top: 10px;
    }

    /* Hide border divs by default */
    .datepickerBorderT,
    .datepickerBorderB,
    .datepickerBorderL,
    .datepickerBorderR,
    .datepickerBorderTL,
    .datepickerBorderTR,
    .datepickerBorderBL,
    .datepickerBorderBR {
        display:none;
    }

    .datepickerHidden {
        display: none;
    }
    div.datepicker table {
        border-collapse:collapse;
    }
    div.datepicker a {
        color: black;
        text-decoration: none;
        cursor: default;
        outline: none;
    }
    div.datepicker table td {
        text-align: center;
        padding: 0;
        margin: 0;
    }
    div.datepicker th {
        text-align: center;
        color: #666666;
        font-weight: normal;
        padding:0;
    }
    div.datepicker tbody a {
        display: block;
    }
    .datepickerDays a {
        width: 20px;
        line-height: 16px;
        height: 16px;
        padding-right: 2px;
    }
    .datepickerYears a,
    .datepickerMonths a{
        width: 39px;
        line-height: 36px;
        height: 36px;
        text-align: center;
    }
    .datepickerMonths td:first-child a,
    .datepickerMonths td:last-child a,
    .datepickerYears td:first-child a,
    .datepickerYears td:last-child a {
        width:38px;
    }
    td.datepickerNotInMonth a {
        color: #666666;
    }
    tbody.datepickerDays td.datepickerSelected{
        background: #136A9F;
    }
    tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
        background: #17384d;
    }
    tbody.datepickerYears td.datepickerSelected,
    tbody.datepickerMonths td.datepickerSelected{
        background: #17384d;
    }
    div.datepicker td.datepickerSelected a {
        color:white;
    }
    div.datepicker a:hover,
    div.datepicker a:hover {
        color: #88c5eb;
    }
    div.datepicker td.datepickerNotInMonth a:hover {
        color: #999999;
    }
    .datepickerSpace div {
        width: 10px;
    }
    .datepickerBlock {
        vertical-align:top;
    }
    a.datepickerGoNext,
    a.datepickerGoPrev,
    a.datepickerMonth {
        text-align: center;
        height: 20px;
        line-height: 20px;
        float:left;
    }
    div.datepicker th a.datepickerGoNext,
    div.datepicker th a.datepickerGoPrev {
        width: 20px;
        color: #666666;
        display:none;
    }
    div.datepicker th a.datepickerMonth {
        width:114px;
        display:block;
    }
    /* Only display the previous/next arrows on the first/last calendars */
    div.datepicker .datepickerFirstView th a.datepickerGoPrev,
    div.datepicker .datepickerLastView th a.datepickerGoNext {
        display:block;
    }
    /* Compensate for the space lost by not having a previous arrow */
    div.datepicker th a.datepickerMonth {
        margin-left:20px;
    }
    div.datepicker .datepickerFirstView th a.datepickerMonth {
        margin-left:0;
    }
    /* Day mode calendar body */
    table.datepickerViewDays tbody.datepickerMonths,
    table.datepickerViewDays tbody.datepickerYears {
        display: none;
    }
    /* Month mode calendar body */
    table.datepickerViewMonths tbody.datepickerDays,
    table.datepickerViewMonths tbody.datepickerYears,
    table.datepickerViewMonths tr.datepickerDoW {
        display: none;
    }
    /* Year mode calendar body */
    table.datepickerViewYears tbody.datepickerDays,
    table.datepickerViewYears tbody.datepickerMonths,
    table.datepickerViewYears tr.datepickerDoW {
        display: none;
    }
    td.datepickerDisabled a,
    td.datepickerDisabled.datepickerNotInMonth a{
        color: #555555;
    }
    td.datepickerDisabled a:hover {
        color: #333333;
    }
    /* Not used by default, calendar cells can be marked as special if desired (doesn't seem to be totally working) */
    div.datepicker tbody.datepickerDays td.datepickerSpecial a {
        background: #770000;
        color:white;
    }
    div.datepicker tbody.datepickerDays td.datepickerSpecial.datepickerSelected a {
        background: #aa0000;
    }

    /* style the 'not in month' day cell away */
    /*tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
      background-color:transparent;
    }
    div.datepicker td.datepickerNotInMonth a span {
      display:none;
    }
    div.datepicker td.datepickerNotInMonth a:hover span {
      display:none;
    }
    div.datepicker tbody.datepickerDays td.datepickerNotInMonth:hover {
      background-color: transparent;
    }*/

</style>
