﻿@model Sitecore.Social.Client.Mvc.Areas.Social.Models.ShareButtonViewModel
<div style="float: right;" runat="server" id="TButton">
    <a href="http://twitter.com/share" data-url='@HttpUtility.UrlPathEncode(Model.SharePageUrlWithAnalyticsParameters)' data-counturl='@Model.SharePageUrl' class="twitter-share-button" data-count="horizontal">@Model.Text</a>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>