﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Sitecore.Social.Client.MessagePosting.UI.Controls.MessagePublishInfo" %>
<div class="scsocTopBoard">
    <p class="scsocTopBoardMessage">
        <asp:Literal ID="ltPublishInfoMsg" runat="server" />
    </p>
</div>
