﻿@using System.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
  rendering.Class = "sc-ExtractData";
  rendering.Requires.Script("client", "ExtractData.js");

  rendering.GetString("items", "items");

  rendering.SetAttribute(HtmlTextWriterAttribute.Id, rendering.ControlId.ToString(CultureInfo.InvariantCulture));
  rendering.SetAttribute(HtmlTextWriterAttribute.Class, "extractData");
  var htmlAttributes = rendering.HtmlAttributes;
}      
<div @htmlAttributes style="float:right;">
    <label class="extractDataLabel">Extract data<img alt="Download to CSV" src="~/sitecore/shell/client/Speak/Assets/img/download_icon.png" width="18" height="18"/>
    </label>
</div>
