﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ExpHeader.ascx.cs" Inherits="Sitecore.ExperienceExplorer.Web.Controls.ExpHeader" %>
<script src="/sitecore modules/web/experienceExplorer/assets/vendors/jquery/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" type="text/javascript"></script>
<script charset="UTF-8" type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>
<script charset="UTF-8" type="text/javascript" src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&s=1"></script>