.scrollable
{
	height: 100px;
	overflow: auto;
	border-right: 1px solid #CAC9C9;
	background-color: #f0f1f2
}

.ui-corner-bl {
	 -moz-border-radius-bottomleft: 7px; 
	 -webkit-border-bottom-left-radius: 7px; 
	 -khtml-border-bottom-left-radius: 7px; 
	 border-bottom-left-radius: 7px;
}
.ui-corner-br {
	 -moz-border-radius-bottomright: 0px; 
	 -webkit-border-bottom-right-radius: 0px; 
	 -khtml-border-bottom-right-radius: 0px; 
	 border-bottom-right-radius: 0px;
}

#sectionGroup {
	background-color: rgba(255,255,255,0) !important;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
}

.header
{
	float: left;
	width: 100%;
	background: #fff url(../images/TabView/bg.gif) repeat-x bottom;
	font-size: 11px;
	line-height: normal;
	font-family: "Trebuchet MS" , verdana, arial;
	font-size: 11px;
	font-weight: normal;
}
.header ul
{
	margin: 0;
	padding: 0px 0px 0;
	list-style: none;
}
.header li
{
	display: inline;
	margin: 0;
	padding: 0;
}

.header a
{
	float: left;
	background: url(../images/TabView/left_both.gif) no-repeat left top;
	margin: 0;
	padding: 0 0 0 9px;
	border-bottom: 1px solid #CAC9C9;
	text-decoration: none;
	outline: none;
}
.header a span
{
	float: left;
	display: block;
	background: url(../images/TabView/right_both.gif) no-repeat right top;
	padding: 4px 15px 0px 6px;
	font-weight: bold;
	color: #65787A;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
.header a span
{
	float: none;
}
/* End IE5-Mac hack */

.header a:hover span
{
	color: #333;
}

.header a:hover
{
	background-position: 0% -150px;
}

.header a:hover span
{
	background-position: 100% -150px;
}

.header ul li.tabOn a
{
	background-position: 0 -150px;
	border-width: 0;
}

.header ul li.tabOn a span
{
	background-position: 100% -150px;
	padding-bottom: 1px;
	color: #333;
}

.tabpage
{
	display: none;
	background: #ffffff;
	padding: 0px;
	margin: 0px;
	clear: both;
	z-index: 1;
}


.tabpagescrollinglayer
{
	clear: both;
	overflow: auto;
	padding: 0px;
	margin: 0px;
	position: relative;
}


.tabpagescrollinglayer .tabpageContent
{
	margin: 0px;
	padding: 0px 10px 0px 10px;
}

.menubar
{
	background: #e0eced url(/sitecore/shell/themes/standard/images/RibbonToolbarStrip.png) repeat-x;
	height: 33px;
    border-bottom: 1px solid #BABABA;
}

.tabpagecontainer
{
	border-left: 1px solid #CAC9C9;
	border-right: 1px solid #CAC9C9;
}

.tabOff .mceEditorContainer
{
	display: none !important;
}

.footer
{
	height: 12px;
	margin: 0;
	padding: 0px;
	background: url(../images/TabView/footer_bg.gif) 11px 11px repeat-x #fff;
	overflow: hidden;
	clear: both;
	position: relative;
}

.footer .status h2
{
	margin: 0px;
	font-weight: bold;
	text-align: left;
	font-family: "Trebuchet MS" , verdana, arial;
	font-size: 10px;
	color: #378080;
	display: block;
}

.footer .status
{
	height: 12px;
	margin: 0px;
	overflow: hidden;
	background: url(../images/TabView/footer_statusBar_bg.gif) top left no-repeat;
}
.footer .status h2
{
	display: block;
	height: 12px;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	background: url(../images/TabView/footer_statusBar_h2_bg.gif) top right no-repeat;
}

.leftArrow
{
	display: none;
	margin-right: 5px;
	float: left;
	height: 23px;
}
.rightArrow
{
	display: none;
	margin-left: 5px;
	float: right;
	height: 23px;
}

.modalTabView input.entityName {
	background: white;
}