html {
	height: 100%;
}
/*SITECORE TRANSPARENT LOOK AND FEEL*/
.modalTabView .ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
	background: #4E4E4E url(/sitecore/shell/themes/standard/gradients/gray1.gif) 50% 0 repeat-y !important;
	background-color: #4E4E4E !important;
} 

body {
    font-family: tahoma !important;
	font-size: 12px;
	font-weight: normal;
	margin: 0px;
	height: 100%;
}
  
body *{outline: none;}

/* Content picker style including dialog and tree style. */
.imagePicker span { display: block; }
.imagePicker .imagePickerContainer .imagePickerContainerBody div { vertical-align: top; }
.imagePicker .imagePickerContainer { background: #f0f1f2;height: 100%; }
.imagePicker .imagePickerContainer .imagePickerContainerRibbon { background: #e0eced url("/sitecore/shell/themes/standard/images/RibbonToolbarStrip.png") repeat-x; height: 33px; border-bottom: 1px solid #BABABA;}
.imagePicker .imagePickerContainer .imagePickerContainerHeader { padding: 1px; height: 20px; background: #4E4E4E url(/sitecore/shell/themes/standard/gradients/gray1.gif) 50% 0 repeat-y; }
.imagePicker .imagePickerContainer .imagePickerContainerHeader .imagePickerContainerClose { float: right; height: 13px; width: 38px; background: url(/sitecore/shell/themes/standard/Images/Window%20Management/Close_red.png);}
.imagePicker .imagePickerContainer .imagePickerContainerRibbon .imagePickerContainerSave { width: 24px;height: 24px; display: inline-block; background: url("/sitecore%20modules/Shell/ucommerce/images/save.gif"); background-repeat: no-repeat; background-size: 20px; margin: 7px; cursor: pointer;}
.imagePicker span p { cursor: pointer; margin-right: 10px; display: inline; text-decoration: underline; }
.imagePicker span p.choosePicture { color: black; }
.imagePicker span p.removePicture { color: red;	}
.imagePreview { max-height: 350px; max-width: 300px; }
.imagePicker .imagePickerContainer .imagePickerContainerBody { height: 100%; }
.imagePicker .imagePickerContainer .imagePickerContainerBody .imagePickerContainerTreeContainer { overflow: auto; display: inline-block; width: 55%; height: 95%; }
.imagePicker .imagePickerContainer .imagePickerContainerBody .imagePickerContainerPreview { display: inline-block; width: 44%; height: 100%; }
.imagePicker .imagePickerContainer.propertyPane { height: 350px !important;}


/*CREATE DIALOG */
.dialog-head {
	background: url("../images/panel_boxhead_bg.gif") no-repeat scroll left top transparent;
	height: 19px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
			
.createDescription 
{
	padding: 25px 0 0 0;
	height: 170px;
}

.createDescription img 
{
	height: 128px;
	float: left;
	margin: 0 10px 10px 0;
}

.bigInput 
{
	font-size: 1.8em;
	width: 400px;
}

select.bigInput {
	width: 404px;
}

.bigInput label  {
	font-size: 1.8em;
}

a 
{
	color: #1541a9;
}

a:hover 
{
	text-decoration: underline;
}

img 
{
	border: none;
}

div .sorterContainer #sectionGroup {
    overflow-y: auto;
}

.feedbackCreate 
{
	margin: 5px;
	padding: 5px 5px 3px 36px;
	background: url(../images/okLayerBackground.gif);
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: White;
}

.feedbackDelete
{
	margin: 5px;
	padding: 5px 5px 3px 36px;
	background: url(../images/errorLayerBackground.gif);
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: White;
}

.loginHeader 
{
	width: 242px; 
	height: 24px; 
	background-image: url(../images/loginHeader.gif);
	font-size: medium;
	font-weight: bold;
	color: #666;
}

.nolink 
{
	text-decoration: none;
	color: Black;
}

.clickImg 
{
	border: none;
}

h3 
{
	padding: 0px;
	margin-left: 0px;
	margin-bottom: -5px;
	margin-top: 10px;
}

/* deprecated down */
.propertyuicontrols .Pane, .propertyPane 
{
    background-color: #f0f1f2;
    border-color: #BABABA;
    border-style: solid;
    border-width: 0 0 1px 0;
	margin: 0 0 0 0;
	display: block;
	padding: 10px;
}

tr.propertyHeader td, td.propertyHeader 
{
	font-weight: bold;
	vertical-align: top;
	padding: 7px;
	/* border-bottom: 1px solid #DBDBDF; */
}

tr.propertyContent td, td.propertyContent
{
	vertical-align: top;
	padding: 7px;
 /*	border-bottom: 1px solid #DBDBDF; */
}
/* deprecated up */

div.propertyDiv 
{
	border: 1px solid #BABABA;
	background-image: url(../images/PropertyPane/propertyBackground.gif);
	display: block;
	padding: 7px;
	margin-bottom: 10px;
}

.guiDialogHeader {
	font-size: 18px;
	font-weight: bold;
}

.guiDialogMedium {
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
}

td, .guiDialogNormal {
	font-size: 12px;
	font-weight: normal;
}

th 
{
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.guiDialogDisabled {
	font-size: 12px;
	font-weight: normal;
	color: #CCCCCC;
}

.guiDialogForm {
	font-size: 12px;
	font-weight: bold;
}

.guiDialogTiny {
	font-size: 10px !Important;
	color: #A8A8A3;
}

.guiDialogTinyMark {
	font-size: 10px !Important;
	color: #606057;
}

.guiDialogTinyTop {
	font-size: 10px;
	font-weight: bold;
	color: #378080;
}

.guiInputCode, .codepress {
	font-family: Consolas, courier;
	line-height:1.6em; font-size: 1em; background:#F6F6F9; border:1px solid #CCCCCC;
	margin: 0px !Important;
}

.umbEditorTextField {
	width: 400px;
	font-size: 12px;
}

.umbEditorTextFieldMultiple {
	width: 400px;
	height: 150px;
	font-size: 12px;
}

.guiDialogBox {
	background-color: #e0eced;
	border: 1px dotted #3399CC;
}

.guiInputText {
	font-size: 12px;
	color: #333333;
	padding: 2px 2px 2px 2px;
}

.guiInputTextStandard {
	font-size: 12px;
	width: 70%;
	color: #333333;
	padding: 2px 2px 2px 2px;
}

.guiInputMediumSize{
  width: 70%;
}

.guiInputLargeSize{
  width: 90%;
}

.guiInputStandardSize{
  width: 250px;
}

.guiInputDisabled {
	font-size: 12px;
	color: #999999;
	border: 0px solid;
	padding: 4px 4px 4px 4px;
}

.guiInputTextTiny, input, select {
	font-size: 11px;
	color: #333333;
}

.guiInputButton {
	font-size: 10px;
	color: #333333;
	font-weight: bolder;
}

.umbracoEditorBagground {
	background-color: white;
}

.editorArrowOver {
	cursor: hand;
	background-color: #DEDFFD;
}

.editorIconDisabled {
	Filter: Alpha(Opacity=30);
}

.editorDropDown {
	font-family: verdana, arial;
	font-size: 10px;
	width: 80px;
	color: #666699;
}

.mceToolbarExternal 
{
	position: absolute;
	z-index: 100;
	top: -2px;
	left: 90px;
}

.guiTab {
	padding: 3px 0px 0px 0px;
	font-size: 10px;
}

.guiLine {
	background-color: #A2A2A0;
}

.guiLineSelected {
	background-color: #F5F5F5;
}

guiEditor {
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
}

.datePicker {
	border:		1px solid WindowText;
	background:	Window;
	width:		170px;
	padding:	0px;
	cursor:		default;
	-moz-user-focus: normal;
}


.datePicker td {
	font:			smallcaption;
	font:			small-caption;
	text-align:		center;
	color:			WindowText;
	cursor:			default;
	font-weight:	normal !important;
	-moz-user-select:	none;
	padding:		0;
}

.datePicker td.red {
	color:			red;
}

.datePicker .header {
	background:		ActiveCaption;
	padding:		3px;
	border-bottom:	1px solid WindowText;
}

.datePicker .headerTable {
	width:			100%;
}

.datePicker .footer {
	padding: 3px;
}

.datePicker .footerTable {
	width:		100%;
}

.datePicker .grid {
	padding:	3px;
}
.datePicker .gridTable {
	width:	100%;
}

.datePicker .gridTable td {
	width:	14.3%;
}

.datePicker .gridTable .daysRow td {
	font-weight:	bold !important;
	border-bottom:	1px solid ThreeDDarkShadow;
}

.datePicker .grid .gridTable .upperLine {
	width:		100%;
	height:		2px;
	overflow:	hidden;
	background:	transparent;
}

.datePicker td.today {
	font-weight:	bold !important;
}

.datePicker td.selected {
	background:		Highlight;
	color:			HighlightText !important;
}

.datePicker td.labelContainer {
	width:	100%;
}

.datePicker td .topLabel {
	color:			CaptionText;
	display:		block;
	font-weight:	bold !important;
	width:			100%;
	text-decoration:	none;

}

.datePicker td.filler {
	width:			100%;
}

.datePicker button {
	border-width:	1px;
	font:			Caption;
	font-weight:	normal !important;
	display:		block;
}

.datePicker .previousButton {
	background:	buttonface url("../images/arrow.left.png") no-repeat center center;
}

.datePicker .nextButton {
	background:	buttonface url("../images/arrow.right.png") no-repeat center center;
}
.datePicker .previousButton,
.datePicker .nextButton {
	width:			14px;
	height:			14px;
}

.datePicker .todayButton,
.datePicker .noneButton {
	width:	50px;
}

.datePicker .labelPopup {
	position:	absolute;
	min-width:	130px;
	background:	Window;
	border:		1px solid WindowText;
	padding:	1px;
}

.datePicker .labelPopup a {
	width:				100%;
	display:			block;
	color:				WindowText;
	text-decoration:	none;
	white-space:		nowrap;
}

.datePicker .labelPopup a:hover {
	background:	Highlight;
	color:		HighlightText;
}

.datePicker .labelPopup a.selected {
	font-weight:	bold;
}

.umbMacroHolder 
{
	margin: 5px;
	padding: 5px;
	border: 2px dotted orange;
	display: inline;
}

.umbTagElement 
{
	float: left;
	margin-left: 10px;
	padding: 0;
}

.umbTagDelete 
{
	color: Red;
}

.umbTagContainer 
{
	width: 300px;
	margin: 5px 0;
	display: block;
}

.umbIconDropdownList option.spriteBackground
{
	background-repeat:no-repeat;
	padding: 1px;
	padding-left:25px;
	margin-left:2px;
	display:block ! important;
}
.umbIconDropdownList option.deprecatedImage{
  background-repeat:no-repeat;
  background-position:4px 1px;
  padding: 1px;
  padding-left:25px;
}

#auditTrailList span 
{
	margin-left: 22px;
}

.umbNitroList input{float: left; display: block;}
.umbNitroList tr td{border-bottom: 1px solid #ccc; padding: 10px;}

.umbNitroList div{float: left; padding-left: 15px; display: block; width: 550px;}
.umbNitroList div h3{margin: 0px;}

/* Generel error / success / notice classes, as seen in the umbraco installer. */
.error, .notice, .success {padding:.8em; padding-top: 0em; padding-bottom: 0em; margin-bottom:.5em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}

.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

.sprTree {
   /*background-color: #fff;*/
   background-image: url(../images/sprites.png);
   display: inline;
   padding-bottom: 2px;
}

.sprTree img{width: 16px; height: 18px; padding-right: 7px;}

.treeContainer 
{
	padding:5px;
	background-color:White;
}

/* DASHBOARD */

.dashboardWrapper
{
	padding:5px 5px 5px 5px;
	overflow:hidden;
	color:#333;
}

.dashboardWrapper p
{
	font-size:1.1em;
	margin-top:0;
}

.dashboardWrapper h2
{
	margin-top:0;
	padding-bottom:10px;
	border-bottom:1px solid #ccc;
	padding-left:37px;
	line-height:32px;
}

.dashboardWrapper h3
{
	margin-bottom:10px;
}

.dashboardIcon
{
	position:absolute;
	top:10px;
	left:10px;
}

.dashboardColWrapper
{
	position:relative;
	overflow:hidden;
}

.dashboardColWrapper h3
{
	margin-bottom:0;
}

.dashboardColWrapper ul
{
	margin-left:1.5em;
	margin-right:1.5em;
	padding:0;
	list-style-image:url(/umbraco/images/listitemorange.gif);
}

.dashboardColWrapper li
{
	line-height:1.2em;
	font-size:1.1em;
	padding-bottom:.5em;   
}

.dashboardCol
{
	position:relative;
	padding:10px 1%;
	background: url(../images/PropertyPane/propertyBackground.gif) repeat-x scroll center top #FFFFFF;
}

.third
{
	width:30.33%;
	float:left;
	margin-right:1%;
}

.dashboardCols .last
{
	margin-right:0;
}

.dashboardCols h3
{
	margin-top:0;
	padding-bottom:5px;
	border-bottom:1px solid #ccc;
}

.dashboardHideLink 
{   
	position:absolute;
	right:10px;
	top:10px;
	text-decoration:none;
	color:#666;
	border:none;
	font-size:.9em;
	font-weight:bold;
	padding:5px;
	margin:0;
	border-radius:3px;
	border:1px solid #ccc;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background-color:#ddd;
	background: -moz-linear-gradient(100% 100% 90deg, #ddd, #fefefe);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#ddd));
}

.dashboardHideLink:hover
{
	text-decoration:none;
	background-color:#fefefe;
	background: -moz-linear-gradient(100% 100% 90deg, #fefefe, #ddd);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#fefefe));
	cursor:pointer;
}

.tinymceMenuBar table {
		margin: 1px 0 0 6px;
		_margin-top: 2px;
}

.editorIcon {
	height: 19px;
	margin: 0px;
	padding: 3px;
	width: 18px;
}

.editorIconOver 
{
	background-image: url("../../images/MenuIcon/buttonbg.gif");
	border: 1px solid #CAC9C9 !Important;
	cursor: hand;
	height: 19px;
	margin: 0px;
	padding: 2px;
	width: 18px;
}

.editorIconDown 
{
	background-image: url("../../images/MenuIcon/buttonbg.gif");
	border: 1px solid #CAC9C9 !Important;
	cursor: hand;
	height: 19px;
	margin: 0px;
	padding: 2px;
	width: 18px;
}

.editorIconDisabled {
	/*
	IE ONLY !!!
	*/
	Filter: Alpha(Opacity=30);
	}
			
.editorDropDown {
	font-family: verdana, arial;
	font-size: 10px;
	width: 80px;
	color: #666699;
}

.TreeViewWrapper {
	margin: 10px; 
}

.sectionGroupHeader {
    padding-left: 12px;
    background-color: rgba(255,255,255,0);
}

.uc-headline {
    border: 0;
    margin: 0;
    padding: 0;
    color: white;
}

#uc-headline {
	font-size: 26px;
	font-weight: bold;
	font-family: tahoma;
	border: 1px solid transparent;
	background: transparent;
	width: 50%;
}

#uc-headline:hover {
	background: -moz-linear-gradient(top, rgba(252,234,187,0.7) 0%, rgba(252,233,183,0.8) 1%, rgba(248,181,0,0.75) 50%, rgba(248,181,0,0.75) 51%, rgba(251,223,147,0.7) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,0.7)), color-stop(1%,rgba(252,233,183,0.8)), color-stop(50%,rgba(248,181,0,0.75)), color-stop(51%,rgba(248,181,0,0.75)), color-stop(100%,rgba(251,223,147,0.7))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(252,234,187,0.7) 0%,rgba(252,233,183,0.8) 1%,rgba(248,181,0,0.75) 50%,rgba(248,181,0,0.75) 51%,rgba(251,223,147,0.7) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(252,234,187,0.7) 0%,rgba(252,233,183,0.8) 1%,rgba(248,181,0,0.75) 50%,rgba(248,181,0,0.75) 51%,rgba(251,223,147,0.7) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(252,234,187,0.7) 0%,rgba(252,233,183,0.8) 1%,rgba(248,181,0,0.75) 50%,rgba(248,181,0,0.75) 51%,rgba(251,223,147,0.7) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(252,234,187,0.7) 0%,rgba(252,233,183,0.8) 1%,rgba(248,181,0,0.75) 50%,rgba(248,181,0,0.75) 51%,rgba(251,223,147,0.7) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3fceabb', endColorstr='#b3fbdf93',GradientType=0 ); /* IE6-9 */
}

.CatalogItemsListBox, .SelectedCatalogItemListBox {
  width : 170px;
  height: 100%;
  min-height: 230px;
}

table.CatalogItemSelectorTable
{
    width: 100%;
    height: 100%;
}

.contentTree ul { padding: 0px; padding-left: 17px; margin: 0px; }
.contentTree ul li { margin-top: 5px;}
.contentTree .treeItemExpandContainer { display: inline-block; position: relative; left: -16px;height: 0px;}
.contentTree .treeItemExpandContainer .treeItemExpand { cursor: pointer; }
.contentTree .treeItemExpandContainer a span { width: 15px; height: 15px; display: inline-block;}
.contentTree .treeItemExpandContainer a.treeItemOpen span  { background-image: url("/sitecore modules/shell/ucommerce/css/images/collapse.gif"); }
.contentTree .treeItemExpandContainer a.treeItemClosed span { background-image: url("/sitecore modules/shell/ucommerce/css/images/expand.gif"); }
.contentTree .treeNodeIcon { width: auto; display: inline-block; cursor: pointer;height: 16px; background-repeat: no-repeat;padding-left: 20px; background-size: 16px; }
.contentTree .treeNodeIcon .nodeName { width: auto; display: inline-block; font-size: 12px; font-family: Arial,Lucida Grande; }
.contentTree .nodeSelectedStyle .nodeName { background: #D5EFFC; }

.product-price-list tr:first-child td:first-child {
	padding-right: 100px;
}

.maxWidth {
	width: 100% !important;
}

.border-collapse {
	border-collapse: collapse;
}

.imagePicker .sectionGroupHeader {
	background: white;
}

.shippingMethodPrices.dataList tbody tr:nth-child(odd),
.paymentMethodPrices.dataList tbody tr:nth-child(odd) {
	background: none;
}

.shippingMethodPrices.dataList tbody tr th,
.paymentMethodPrices.dataList tbody tr th {
	border: none;
}

.CatalogItemSelectorTreeView.TreeViewWrapper {
	max-height: 240px;
	max-width: 250px;
	overflow: auto;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea {
	border: 1px solid rgb(169, 169, 169);
	padding: 1px;
}

.mediumButton[disabled="disabled"] {
	color: gray !important;
}