﻿/*
 * General rules.
 */

html, body
{
  background: transparent;
  border: none;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

body, input, select
{
  font: normal 8pt Tahoma;
}

table, td
{
  border: none;
  padding: 0;
  margin: 0;
}

table
{
  border-collapse: collapse;
}

.Expanded
{
  height: 100%;
  width: 100%;
}

input, select
{
  color: #41567a;
}

button
{
  height: 23px;
  width: 75px;
}