﻿/*
 * General.
 */

#MainGrid
{
  height: 100%;
  width: 100%;
}

*html .scRibbon .chunk .panel
{
  height: auto;
}

#PanelStrip
{
  height: 100%;
}

#PanelGrid
{
  height: 100%;
  width: 100%;
}

#LeftPane
{
  padding-right: 3px;
}

#RightPane
{
  width: 1px;
}

#PageFrameHost
{
  border: solid 1px #41567A;
  border-top: none;
}

#PageFrame
{
  background: white;
  border: none;
  height: 100%;
  width: 100%;
}

#WaitFrame
{
  background: white;
  border: none;
  display: none;
  height: 100%;
  width: 100%;
}

/*
 * The Page Explorer.
 */

#PageExplorer
{
  height: 100%;
  width: 300px;
}

#PageExplorer #Tabs
{
  background: #d1d5db;
  background-repeat: repeat-x;
  background-position: left bottom;
  height: 100%;
  vertical-align: top;
  width: 100%;
}

#PageExplorer #TabHost
{
  background: white;
  border: groove 2px #f0f0f0;
  margin: 2px;
  padding: 3px;
}

#PageExplorer .Tab
{
  display: none;
  overflow: auto;
  width: 300px;
}

#PageExplorer #TreeTab
{
  display: block;
}

#PageExplorer #TabButtons
{
  clear: both;
  padding-left: 12px;
}

#PageExplorer .TabButton
{
  border: solid 1px transparent;
  border-top: none;
  color: white;
  cursor: default;
  float: left;
  font: normal 8pt Tahoma;
  padding: 2px 11px;
}

#PageExplorer .TabButton.Active
{
  background-color: #d1d5db;
  background-image: url("../Images/PageExplorer/ActiveTabButton.png");
  background-position: left top;
  background-repeat: repeat-x;
  border-color: white;
  color: black;
}

#PageExplorer .TabButton.Hover
{
  background-color: #999999;
  background-image: url("../Images/PageExplorer/HoverTabButton.png");
  background-position: left bottom;
  background-repeat: repeat-x;
  border-color: #999999;
  text-decoration: underline;
}

/*
 * The DOM Tree.
 */

.DomTree td
{
  vertical-align: top;
}

.DomTree .ToggleButton
{
  display: block;
  height: 9px;
  margin-top: 3px;
  width: 9px;
}

.DomTree label
{
  border: solid 1px transparent;
  cursor: default;
  display: block;
  font: normal 8pt Tahoma;
  margin: 0 2px 0 6px;
  padding: 2px;
  white-space: nowrap;
}

.DomTree .Element
{
  color: blue;
}

.DomTree .Element.Protected
{
  color: green;
}

.DomTree .Text
{
  color: #808080;
  font-style: italic;
}

.DomTree .Children
{
  display: none;
  margin-left: 18px;
}

.DomTree label.Selected
{
  background-color: #d5effc;
  background-image: url("../Images/DomTree/SelectedNode.png");
  background-position: left 1px;
  background-repeat: repeat-x;
  border: solid 1px #99defd;
}

.DomTree label.Replaced
{
  background-color: #fcd6d6;
  background-image: url("../Images/DomTree/ReplacedNode.png");
  background-position: left 1px;
  background-repeat: repeat-x;
  border: solid 1px #fd9999;
}

.DomTree .Hidden
{
  visibility: hidden;
}

/*
 * Tabs of the Page Explorer.
 */

#TextTab
{
  color: black;
  font: normal 8pt Tahoma;
}

#HtmlTab
{
  color: black;
  font: normal 8pt Consolas, "Courier New", monospace;
}

#PreviewFrame
{
  border: none;
  height: 100%;
  width: 100%;
}

/*
 * The Log tab.
 */

#NoLogMessages tbody td
{
  color: gray;
  text-align: center;
  vertical-align: middle;
}

#LogMessages
{
  background: #C0C0C0;
  border-collapse: separate;
	border-spacing: 1px;
}

#LogMessages td
{
  background: white;
  color: black;
  font: normal 8pt Tahoma;
  padding: 1px 3px;
  vertical-align: top;
  white-space: nowrap;
}

#LogMessages .Error
{
  color: red;
}

#LogMessages .Warning
{
  color: orange;
}