﻿#InsertFieldDialog
{
  width: 600px;
}

#HeaderTagsConfirmationPanel
{
  background: #ffffe0;
  border-bottom: solid 1px #c0c0c0;
}

#HeaderTagsConfirmationPanel .MessagePanel
{
  padding: 6px;
}

#HeaderTagsConfirmationPanel .ButtonPanel
{
  text-align: center;
  padding: 0 6px 6px 6px;
}

.Form
{
  padding: 16px;
}

.Controls
{
  width: 100%;
}

.Label
{
  width: 1px;
}

.Control
{
  width: 100%;
}

label
{
  display: block;
  margin-right: 3px;
  white-space: nowrap;
}

#FieldNameTextBox
{
  width: 244px;
}

#ErrorMessage
{
  color: red;
  height: 18px;
}

#FieldTypeComboBox
{
  width: 250px;
}

button
{
  width: 85px;
}

/*
 * The Preview pane.
 */

#PreviewPane
{
  height: 100%;
  width: 100%;
}

#PreviewPane .Header
{
  height: 1px;
}

#PreviewPane .Header td
{
  background: #E5EAF0 url("../Images/PreviewHeaderBackground.png") repeat-x top left;
  border: solid 1px #70809B;
  border-bottom: none;
  border-right: none;
  color: #41567A;
  cursor: pointer;
  float: left;
  font: normal 8pt Tahoma;
  height: 15px;
  padding: 2px 6px;
  text-align: center;
  width: 75px;
}

#PreviewPane .Header .Preview
{
  border-right: solid 1px #70809B;
}

#PreviewPane .Header .Active
{
  background: #DDE3EB url("../Images/PreviewActiveHeaderBackground.png") repeat-x top left;
  color: black;
}

#PreviewPane .ViewPanel
{
  vertical-align: top;
}

#PreviewPane .TabPage
{
  border: solid 1px #70809B;
  height: 300px;
  overflow: auto;
}

#PreviewPane .View
{
  margin: 6px;
}

#PreviewFrame
{
  border: none;
  height: 99.7%;
  width: 100%;
}

.Source
{
  color: black;
  font: normal 8pt Consolas, "Courier New", monospace;
}