﻿#InsertPlaceholderDialog
{
  padding: 16px;
}

button
{
  width: 85px;
}

label
{
  display: block;
  margin-right: 3px;
  white-space: nowrap;
}

input
{
  width: 200px;
}

#ErrorMessage
{
  color: red;
}