﻿.Clear
{
  clear: both;
}

#MainPanel
{
	height: 100%;
}

#Toolbar
{
  background: #BCC7D8;
  font-size: 16px;
  padding: 1px 3px 1px 0;
}

#Toolbar .TabButton
{
  border: solid 1px transparent;
  cursor: pointer;
  display: block;
  float: left;
  font: normal 8pt Arial;
  margin-left: 3px;
  padding-bottom: 2px;
  padding-left: 24px;
  padding-right: 3px;
  padding-top: 2px;
}

#Toolbar a.TabButton:active,
#Toolbar a.TabButton:hover,
#Toolbar a.TabButton.Selected
{
  border: solid 1px #E5C365;
  background-color: #FFEFBB;
}

#ErrorButton
{
  background: url("../Images/LogScreen/Error.png") no-repeat 3px 1px;
}

#WarningButton
{
  background: url("../Images/LogScreen/Warning.png") no-repeat 3px 1px;
}

#InformationButton
{
  background: url("../Images/LogScreen/Information.png") no-repeat 3px 1px;
}

#Grid
{
	height: 100%;
	width: 100%;
}

#GridHeaders
{
	background: #DEDFE1;
	border-collapse: separate;
	border-spacing: 1px;
  font: normal 9pt Tahoma;
	width: 100%;
}

#GridHeaders td
{
	background: #F1F2F4;
	padding: 1px 6px;
  text-align: left;
}

#GridData td
{
	white-space: nowrap;
}

#ScrollPanel
{
	overflow: scroll;
}

#GridData
{
	background: #DEDFE1;
	border-collapse: separate;
	border-spacing: 1px;
	width: 100%;
}

#GridData td
{
	background: white;
	padding: 1px 6px;
}

#GridData .Error
{
  color: red;
}

#GridData .Warning
{
  color: orange;
}