﻿/*
 * General rules.
 */

#RibbonStrip
{
  height: 1px;
}

#WorkspaceStrip
{
  background: #e9e9e9;
  padding: 0 4px 3px 3px;
}

#TopPanel,
#BottomPanel
{
  height: 50%;
}

#TopPanel
{
  padding-bottom: 3px;
}

/*
 * Link grid.
 */

#LinkGrid
{
  background: #666666;
  border-collapse: separate;
  height: 100%;
  width: 100%;
}

#LinkGrid th
{
  background: #e5eaf0 url("../Images/PreviewHeaderBackground.png") repeat-x top left;
  height: 1px;
  padding: 1px 3px;
  white-space: nowrap;
}

#LinkGrid td
{
  background: white;
  width: 50%;
}

#LinkGrid #UnmappedLinkPanel,
#LinkGrid #MappedLinkPanel
{
  padding: 0;
  vertical-align: top;
}

#LinkGrid #UnmappedLinkPane,
#LinkGrid #MappedLinkPane
{
  height: 100%;
  overflow: scroll;
  width: 100%;
}

/*
 * Page tab control.
 */

.Tab
{
  background: white;
  border: solid 1px #666666;
  display: none;
  height: 100%;
  overflow: auto;
}

div#PreviewTab
{
  display: block;
}

td#TabButtons
{
  clear: both;
  height: 1px;
}

.TabButton
{
  background: #e5eaf0 url("../Images/PreviewHeaderBackground.png") repeat-x top left;
  border-bottom: solid 1px #666666;
  border-left: solid 1px #666666;
  cursor: pointer;
  float: left;
  padding: 2px 3px;
  text-align: center;
  width: 60px;
}

.TabButton.Last
{
  border-right: solid 1px #666666;
}

.TabButton.Active
{
  background: #DDE3EB url("../Images/PreviewActiveHeaderBackground.png") repeat-x top left;
  color: black;
}

/*
 * Links.
 */

#LinkPane
{
  background: white;
  height: 100%;
  overflow: scroll;
  width: 100%;
}

#ButtonPanel
{
  vertical-align: top;
}

#ButtonPanel button
{
  display: block;
  height: 23px;
  margin: 4px;
  width: 85px;
}

#LinkHost .TextBoxPanel
{
  border: 1px solid transparent;
  padding: 6px;
}

#LinkHost .TextBoxPanel.Selected
{
  background: #b7d3ff;
  border: 1px solid #7da2ce;
}

#LinkHost input
{
  width: 100%;
}

/*
 * Preview.
 */

#PreviewFrame
{
  border: none;
  height: 100%;
  width: 100%;
}

/*
 * Source.
 */

#HtmlTab table
{
  color: black;
  font: normal 8pt Consolas, "Courier New", monospace;
}

#HtmlTab .LineNumber
{
  color: #008080;
  background: #f0f0f0;
  border-right: solid 1px #c0c0c0;
  padding: 0 3px;
  text-align: right;
  vertical-align: top;
}

#HtmlTab a:active,
#HtmlTab a:hover,
#HtmlTab a:link,
#HtmlTab a:visited
{
  background: transparent;
  color: blue;
}

#HtmlTab a.Mapped:active,
#HtmlTab a.Mapped:hover,
#HtmlTab a.Mapped:link,
#HtmlTab a.Mapped:visited
{
  background: yellow;
  color: red;
  font-weight: bold;
}

#HtmlTab a.Selected:active,
#HtmlTab a.Selected:hover,
#HtmlTab a.Selected:link,
#HtmlTab a.Selected:visited
{
  background: aqua;
  color: black;
}