﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Desktop_Account.ascx.cs" Inherits="Officecore.Website.layouts.Officecore.Controls.Desktop.MyAccount.Desktop_Account" %>

<div id="DesktopAccount" class="col-md-12 col-sm-9 col-xs-6"> 
    <div class="col-md-6 col-sm-6 col-xs-12">
        <sc:placeholder runat="server" key="column-content1" />
    </div>
    
    <div class="col-md-6 col-sm-6 col-xs-12">
        <sc:placeholder runat="server" key="column-content2" />
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">
        <sc:placeholder runat="server" key="column-content3" /> 
    </div>
</div>
