﻿<%@ Page Language="C#" Inherits="System.Web.UI.Page" CodePage="65001" %><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><title>Squeeze Template Six</title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"><link rel="stylesheet" type="text/css" href="/~/media/90C013A02A344E26A4D09AA9266A4DA1.ashx">
<style type="text/css">
<!--
.style1 {color: #FFDA16}
-->
</style>
</head>
<body><form runat="server" id="Sitecore_DesignImporter_MainForm"></form>
<div id="wrapper">
<div id="container">
<div id="top-bar">
<div id="top-bar_left">
<p><sc:fieldrenderer runat="server" id="FieldRenderer1" fieldname="Strap"></sc:fieldrenderer> </p></div></div>
<div id="super">
<div id="super_text">
<div id="super_text_left"><img alt="#" src="/~/media/C0A45CE793C648F297B9684DCDDCC6BA.ashx"></div>
<div id="super_text_center">Wait right there! Do not move! This is your <span class="style1">ONLY CHANCE</span> to get your hands on this never seen before OFFER!</div>
<div id="super_text_right"><img alt="#" src="/~/media/A1E4C8D367264694BF9D15D041913AA4.ashx"></div></div></div>
<div id="content">
<div id="video">
<div id="video_center"><sc:fieldrenderer runat="server" id="FieldRenderer2" fieldname="Image 1"></sc:fieldrenderer></div><img src="/~/media/52658864015E45C9BB17D9E40C2CCF2E.ashx"></div>
<div id="textarea">
<div id="textarea_left">
<sc:fieldrenderer runat="server" id="FieldRenderer3" fieldname="H1"></sc:fieldrenderer>
<div class="space"><img alt="#" src="/~/media/DFC334D1CD6340D59C86F172D59F84F8.ashx"></div>
<p><sc:fieldrenderer runat="server" id="FieldRenderer4" fieldname="Content"></sc:fieldrenderer></p></div>
<div id="signup_box">
<div id="signup_box_left"><img alt="#" src="/~/media/B385230CD10B447D8636CD715D4953A7.ashx"></div>
<div id="signup_box_center">

<sc:placeholder runat="server" key="Form"></sc:placeholder></div>
<div id="signup_box_right"><img alt="#" src="/~/media/6730DA4DCA73418B92245AE72632ADA0.ashx"></div></div></div></div>
<div id="footer">
<div id="footer_left">2011 YourWebsite.com - All rights reserved</div>
<div id="footer_right">Terms of Use | Privacy Policy | Contact</div></div></div></div>




















</body></html>