﻿body /*{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}*/
{ font-family: 'Segoe UI Light', 'Segoe UI', Arial !important; }

ul {
    list-style-type: square;
}

.badge-basket {
        opacity: 0.8;
        top: 0;
        right: 0;
        position: absolute;
        background-color:#F03222;
    }

    .basket {
        position: relative;
        float:left;
        width:53px;
    }

.cart-images {
     height:124px;
     width:104px;
     float:left;
}

.cart-description {
    margin-left:120px; 
    width: 60%;
}

input.checkbox {
	border: 0 none;
	display: block;
	padding-left: 20px;
	background: transparent url('/assets/images/uCommerce/checkbox_empty.png') left center no-repeat;
	cursor: pointer;
}

input.checkbox:hover {
	background-image: url('/assets/images/uCommerce/checkbox_empty_hover.png');
}


input.checkbox.checked {
	background-image: url('/assets/images/uCommerce/checkbox_checked.png');
}

input.checkbox.checked:hover {
	background-image: url('/assets/images/uCommerce/checkbox_checked_hover.png');
}

.glyphicon-star, .glyphicon-star-empty {
    color: #FFD700;
}

.logo a {
    border: 0;
}

a, a:visited {
    color: none;
    text-decoration: none;
    border-bottom-style: 0px dotted #C30;
}

    a:hover {
        color: none;
        text-decoration: none;
        border-bottom-style: solid;
    }

.accountheading {
    font-size: 14px;
    float: left;
    padding-top: 5px;
}

.accountheadingpanel {
    height: 40px;
}

.table {
    font-size: 10px;
}

#orders .panel-body {
    padding: 2px;
}

#DesktopAccount, #details, #address {
    padding: 0px;
}

#details .panel .panel-body,#address .panel .panel-body {
    padding: 5px;
}

.social-login .col-md-4 {
    padding: 0px;
}

.mob-table {
    font-size: 13px;
}

/*my account styling*/
.userDetails {
    font-weight:800; 
    padding-right:10px;
}