﻿.scfForm {
    background-color: white;
    margin-top: 20px;
    padding: 20px;
}
.textarea-padding-bottom {
margin-bottom:10px!important;}

.formfield {
    width: 110px;
}

.inputfield {
    width: 180%!important;
}

.dropboxfield {
    width:329px!important; 
    border-radius:4px;
}



/*cart - preview styling*/
address {
    margin-bottom:0px;
}

.list-group-item{
    padding: 5px 15px;
    border:none;
}

.preview-product{
    float: left; 
    width: 60%; 
    margin-top:5px;
}

.list-group-item-bottom{

}