﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Example-GoalClick.ascx.cs" Inherits="Officecore.Website.layouts.Officecore.Controls.Example_GoalClick" %>


<div>
<asp:Button ID="registerevent" runat="server" OnClick="registerevent_Click" Text="GOOOOALLLL!!!!" /></div>