﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Segment-MVT.ascx.cs" Inherits="Officecore.Website.layouts.Officecore.Controls.Segment_MVT" %>
<div id="MVTSegment">
    1<sc:Placeholder ID="Mv1" Key="Mv1" runat="server" />
    <div class="clearfix" style="padding-bottom:12px;"></div>
    2<sc:Placeholder ID="Mv2" Key="Mv2" runat="server" />
    <div class="clearfix" style="padding-bottom:12px;"></div>
    3<sc:Placeholder ID="Mv3" Key="Mv3" runat="server" />
    <div class="clearfix" style="padding-bottom:12px;"></div>
    4<sc:Placeholder ID="Mv4" Key="Mv4" runat="server" />
    <div class="clearfix" style="padding-bottom:12px;"></div>
</div>
