﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Segment-MVT-Inner.ascx.cs" Inherits="Officecore.Website.layouts.Officecore.Controls.Segment_MVT_Inner" %>
<div id="mvt-inner"><sc:Placeholder Key="MVTInner" runat="server" ID="SegmentInner" /></div>