﻿#review-form input[type=text], #review-form textarea {
    width: 95%;
}

#left-col .well {
    background-color: white;
    border-left: 4px solid #F03222;
}

#left-col .well {
    margin-bottom: 0;
    margin-top: 20px;
}

.related-products-container > h4 {
    padding-bottom: 10px;
}

.product-list > .panel, .related-products-container .panel {
    border: none;
}

.controls .saveButton {
    margin-bottom: 20px;
    margin-right: 20px;
}

.content-spacing  ul#product {
    padding-bottom: 0;
}

.content-spacing ul#product > li{
    margin-bottom: 0;
}

.glyphicon-star, .glyphicon-star-empty {
    color: #FFD700;
}

.cart-images {
    height:20%;
    width: 35%;
    float:left;
}

.cart-description {
    float:left; 
    width: 60%;
}