﻿#MessageHeader tr
{
	vertical-align: top;
}
.PreviewArea
{
	border: 1px solid #666666;
	position: relative;
	left: -4px;
	top: -4px;
	background-color: White;
	height: 100%;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 8pt;
	color: Black;
	background-color: #f0f1f2;
	padding: 4px;
}
#Shadow
{
	position: relative;
	left: 4px;
	top: 4px;
	margin-right: 4px;
	margin-bottom: 4px;
	background: #666666;
	height: 100%;
	width: 100%;
}
.HeaderInfo
{
	max-height: 30px;
	overflow: auto;
}
.MessageBody
{
	overflow: auto;
	background-color: White;
	width: 100%;
	height: 100%;
}
.previewWarning
{
	border-width: 0 0 1 0;
}

.warningHeader
{
	font-size: larger;
	font-weight: bold;
	color: #4377B2;
}
.errorHeader
{
	font-size: larger;
	font-family: Verdana;
	font-weight: bold;
	color: #CC0000;
}
.warningBackground
{
	background-color: #FFFFCC;
	padding: 8px 6px 8px 6px;
}
.InnerBodyImage
{
	float: left;
	margin-bottom: 4px;
	margin-right: 1px;
}
pre
{
	margin-bottom: 0;
}
.CommandButtonsArea
{
	padding-top: 10px;
	padding-right: 4px;
}

.InformativeArea
{
  height: 14px;
	padding-right: 6px;
	min-height: 14px;
}
#ScheduledTimeArea
{
	float: right;
	height: 14px;
	padding-top: 3px;
	padding-bottom: 2px;
}
.NotableLabel
{
	font-weight: bold;
}
.previewButton
{
	-x-system-font: none;
	font-family: tahoma;
	font-size: 8pt;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	width: auto;
}
