﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Publish.aspx.cs" Inherits="Officecore.Website.layouts.Publish" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Publish/Deploy</title>
</head>
<body>
    Goals and Campaigns deployed and a publish to boot! :)
</body>
</html>
