﻿<%@ Control Language="c#" AutoEventWireup="true" %>
<div id="Banner">
  <img width="42" height="42" alt="Sitecore Logo" src="/sitecore/shell/themes/standard/Images/HomeButton2.png?w=42&amp;h=42&amp;as=1" /> <sc:placeholder runat="server" key="banner" />
</div>
<div id="Content">
  <sc:placeholder runat="server" key="content" />
</div>