<%@ control language="C#" autoeventwireup="true" codebehind="EditCampaignItemOverview.ascx.cs"
	inherits="UCommerce.Web.UI.UCommerce.Marketing.EditCampaignItemOverview" %>
<%@ Register tagPrefix="commerce" tagName="ValidationSummary" src="../Controls/ValidationSummaryDisplay.ascx" %>

<commerce:ValidationSummary runat="server" />

<div class="propertyPane leftAligned">

	<commerce:PropertyPanel runat="server" meta:resourcekey="CampaignItemDefinition">
		<asp:DropDownList runat="server" ID="CampaignItemDefinitionDropDown" CssClass="mediumWidth"/>
		<asp:RequiredFieldValidator runat="server" ControlToValidate="CampaignItemDefinitionDropDown" Text="*" ErrorMessage='<%# GetLocalResourceObject("CampaignItemDefinition.Text") %>' CssClass="validator" ></asp:RequiredFieldValidator>
	</commerce:PropertyPanel>
    <commerce:PropertyPanel runat="server" meta:resourcekey="AllowNextCampaignItems">
        <asp:CheckBox runat="server" ID="AllowNextCampaignItemsCheckBox" Checked="<%# View.CampaignItem.AllowNextCampaignItems %>"/>
    </commerce:PropertyPanel>
    <commerce:PropertyPanel runat="server" meta:resourcekey="Enabled">
        <asp:CheckBox runat="server" ID="EnabledCheckBox" Checked="<%# View.CampaignItem.Enabled %>"/>
    </commerce:PropertyPanel>
	<div class="propertyPaneFooter">-</div>
</div>

<div class="propertyPane leftAligned">
    <asp:HiddenField runat="server" ID="CampaignItemId"/>
	<table style="width:100%">
		<tr>
			<th style="width:33%"><asp:Label runat="server" meta:resourcekey="Display" /></th>
			<th style="width:33%"><asp:Label runat="server" meta:resourcekey="Apply" /></th>
			<th style="width:33%"><asp:Label runat="server" meta:resourcekey="Award" /></th>
		</tr>
		<tr>
			<td>
				<asp:DropDownList runat="server" ID="displayTargetDropDown" CssClass="editCampaignItemDropDown" />
				<asp:Button runat="server" meta:resourcekey="Add" ID="addDisplayTargetButton" onclick="AddDisplayButton_Click" CssClass="editCampaignItemButton" />         
			</td>
			<td>
				<asp:DropDownList runat="server" ID="applyTargetDropDown" CssClass="editCampaignItemDropDown" />
				<asp:Button runat="server" meta:resourcekey="Add" ID="addApplyTargetButton" onclick="AddApplyButton_Click" CssClass="editCampaignItemButton" />
			</td>
			<td>
				<asp:DropDownList runat="server" ID="awardDropDown" CssClass="editCampaignItemDropDown" />
				<asp:Button runat="server" meta:resourcekey="Add" ID="addAwardButton" onclick="AddAwardButton_Click" CssClass="editCampaignItemButton" style="vertical-align: top;" />
			</td>
			<td></td>
		</tr>
		<tr>
			<td style="vertical-align:top;">
				<asp:UpdatePanel ID="UpdatePanel1" runat="server" UpdateMode="Conditional">
					<ContentTemplate>
						<asp:PlaceHolder ID="NewDisplayTargetPlaceHolder" runat="server"></asp:PlaceHolder>
					</ContentTemplate>
					<Triggers>
						<asp:AsyncPostBackTrigger ControlID="addDisplayTargetButton" />
					</Triggers>
				</asp:UpdatePanel>
			</td>
			<td style="vertical-align:top;">
				<asp:UpdatePanel ID="UpdatePanel2" runat="server" UpdateMode="Conditional">
					<ContentTemplate>
						<asp:PlaceHolder ID="NewApplyTargetPlaceHolder" runat="server"></asp:PlaceHolder>
					</ContentTemplate>
					<Triggers>
						<asp:AsyncPostBackTrigger ControlID="addApplyTargetButton" />
					</Triggers>
				</asp:UpdatePanel>
			</td>
			<td style="vertical-align:top;">
				<asp:UpdatePanel ID="UpdatePanel3" runat="server" UpdateMode="Conditional">
					<ContentTemplate>
						<asp:PlaceHolder ID="NewAwardPlaceHolder" runat="server"></asp:PlaceHolder>
					</ContentTemplate>
					<Triggers>
						<asp:AsyncPostBackTrigger ControlID="addAwardButton" />
					</Triggers>
				</asp:UpdatePanel>
			</td>
		</tr>
	</table>
</div>
