﻿<%@ Control Language="c#" AutoEventWireup="true" %>
<div class="row-fluid">
    <div class="col-md-8">
        <sc:Placeholder Key="column-content" ID="columncontent" runat="server"></sc:Placeholder>
    </div>
    <div class="col-md-4">
        <sc:Placeholder Key="column-right" ID="contentright" runat="server"></sc:Placeholder>
    </div>
    <div class="clearfix"></div>
</div>
