﻿<%@ Control Language="c#" AutoEventWireup="true" %>

<div class="row-fluid">
    <div class="col-md-6"><sc:Placeholder ID="Placeholder1" Key="content-left-side" runat="server"></sc:Placeholder></div>
    <div class="col-md-6"><sc:Placeholder ID="Placeholder2" Key="content-right-side" runat="server"></sc:Placeholder></div>

</div>