<%@ page language="C#" autoeventwireup="true" codebehind="AddProduct.aspx.cs"
	inherits="UCommerce.Web.UI.Orders.AddProduct" MasterPageFile="../MasterPages/Dialog.Master" %>
<%@ import namespace="UCommerce.Web.UI.Catalog.Dialogs" %>
<%@ register tagprefix="uc" tagname="CatalogItemSelector" src="../Catalog/Dialogs/CatalogItemSelector.ascx" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="HeaderLabel" runat="server">
    <asp:Localize ID="Localize5" runat="server" meta:resourceKey="Header" />
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentArea" runat="server">
   	<div style="margin:10px;">
        <h3>
		    <span>
			    <asp:Localize id="Localize2" runat="server" meta:resourcekey="Header" />
		    </span>
	    </h3>
	    <div>
		    <p class="guiDialogTiny">
			    <asp:Localize id="Localize3" runat="server" meta:resourcekey="SubHeader" />
		    </p>
	    </div>
   	</div>
    
	<div class="propertyPane orderPriceGroup">
		<div class="propertyItem">
            <div class="propertyItemHeader">
                <asp:Localize ID="Localize4" runat="server" meta:resourceKey="PriceGroup" />
            </div>
            <div class="propertyItemContent propertyItemContentSmall">
	            <asp:DropDownList runat="server" ID="PriceGroupDropDown" CssClass="mediumWidth" Style="margin-top: 0px" />
            </div>
        </div>
		<div class="propertyPaneFooter"></div>
	</div>

	<div class="propertyPane">
		<div>
			<uc:CatalogItemSelector runat="server" id="catalogItemSelector"
				SelectType="<%# CatalogItemType.Sellable %>"
				MultipleSelect="true" />
		</div>
		<div class="propertyPaneFooter"></div>
	</div>
	
    <div style="margin:10px">
		<p>
			<asp:Button id="SaveButton" runat="server" meta:resourcekey="SaveButton" onclick="SaveButton_Clicked" />
			<em>or </em><a href="#" style="color: blue" onclick="UCommerceClientMgr.closeModalWindow()">
				<asp:Localize id="Localize1" runat="server" meta:resourcekey="CancelButton" />
			</a>
		</p>
	</div>
 
</asp:Content>