﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="EditOrderLines.ascx.cs" Inherits="UCommerce.Web.UI.UCommerce.Orders.EditOrderLines" %>
<%@ Import Namespace="UCommerce.EntitiesV2" %>
<%@ Import Namespace="UCommerce.Extensions" %>
<%@ Import Namespace="UCommerce.Web.UI.UCommerce.Orders" %>

<asp:PlaceHolder runat="server" ID="OrderListPlaceholder">
<table class="dataList connectedSortable ui-sortable clickable ordersTable" id='<%# "ShipmentTable_" + ShipmentId  %>' cellspacing="0" cellpadding="0" width="100%">
	<thead>
		<tr>
			<th></th>
			<th style="width:31px;"></th>
			<th style="width:25px;"></th>
			<th>Sku</th>
			<th>Text</th>
			<th class="amountCell">Unit price</th>
			<th class="quantityCell">Quantity</th>
			<th class="amountCell">VAT</th>
			<th class="amountCell">Total</th>
		</tr>
	</thead>
	<tbody>
        <asp:Repeater runat="server" ID="OrderLineRepeater" EnableViewState="True" OnItemCommand="OrderLineRepeateren_ItemCommand" OnItemDataBound="OrderLineRepeateren_DataBound">
	        <ItemTemplate>
		    <% if(IsEditable) { %>		
				<tr class="canSort orderLineRow" style="cursor: move; height: 25px;" data-orderline-id="<%# Eval("OrderLineId") %>">
					<td><span class="ui-icon ui-icon-arrowthick-2-n-s"></span></td>
			<% } else {%>
				<tr style="height: 25px;" data-orderline-id="<%# Eval("OrderLineId") %>">
					<td></td>
			<% } %>
			        
					<td>
				        <% if (IsEditable) { %>
				        <asp:ImageButton ID="imbDelete" runat="server" ImageUrl="../Images/ui/cross.png" CommandName="Delete" CommandArgument='<%# DataBinder.Eval(Container.DataItem, "OrderLineId") %>'  />
				        <% } %>
			        </td>
			        <td>
                        <a class="propertyLink" href="#" rel="<%# ((OrderLine)Container.DataItem).OrderLineId %>" style='<%# OrderLineDetailsAvailable((OrderLine)Container.DataItem) ? "display:block" : "display:none"%>'><img src="../Images/ui/expand.png" alt="" /></a>
			        </td>
			        <td class="textCell">
				        <%# DataBinder.Eval(Container.DataItem, "Sku") %>
				        <%# GetVariantSku(Container.DataItem) %>
			        </td>
			        <td class="textCell"><%# DataBinder.Eval(Container.DataItem, "ProductName") %></td>

			        <td class="amountCell" style="white-space: nowrap;"><%# GetUnitPriceTdValue(DataBinder.Eval(Container.DataItem, "Price"), DataBinder.Eval(Container.DataItem, "UnitDiscount")) %></td>
		     	        <td class="quantityCell">
				        <% if(IsEditable && false){ %>
					        <asp:HiddenField ID="OrderLineId" runat="server" Value='<%# Eval("OrderLineId") %>'></asp:HiddenField>
					        <asp:TextBox ID="Quantity" CssClass="quantity" Width="30" runat="server" Text='<%# Eval("Quantity") %>'></asp:TextBox>
					        <asp:HiddenField runat="server" ID="OldQuantity" Value='<%# Eval("Quantity") %>' />
							<input name="old-quantity" class="old-quantity" type="hidden" value='<%# Eval("Quantity") %>' />
				        <% }else{ %>
					        <%# DataBinder.Eval(Container.DataItem, "Quantity") %>
				        <% } %>
			        </td>
			        <td class="amountCell"><%# GetPrice((DataBinder.Eval(Container.DataItem, "Vat")))%></td>
			        <td class="amountCell"><%# GetPrice(DataBinder.Eval(Container.DataItem, "Total"))%></td>
		        </tr>

		        <asp:Repeater runat="server" ID="OrderLinePropertyRepeater" DataSource="<%# ((OrderLine)Container.DataItem).OrderProperties %>">
			        <ItemTemplate>
				        <tr class="propertyRow_<%# ((OrderLine)((RepeaterItem)Container.Parent.Parent).DataItem).OrderLineId %>" style="display:none;">
					        <td></td>
					        <td></td>
							<td></td>
					        <td><%# DataBinder.Eval(Container.DataItem, "Key") %>:</td>
					        <td colspan="5"><%# DataBinder.Eval(Container.DataItem, "Value") %></td>
				        </tr>
			        </ItemTemplate>
		        </asp:Repeater>
		        <asp:Repeater runat="server" ID="OrderLineDiscountRepeater" DataSource="<%# ((OrderLine)Container.DataItem).Discounts %>">
			        <ItemTemplate>
				        <tr class="discountRow_<%# ((OrderLine)((RepeaterItem)Container.Parent.Parent).DataItem).OrderLineId %>" style="display:none;">
					        <td></td>
					        <td></td>
							<td></td>
					        <td colspan="6"><%# GetDiscountName((Discount)Container.DataItem) %></td>
				        </tr>
			        </ItemTemplate>
		        </asp:Repeater>
	        </ItemTemplate>
        </asp:Repeater>
    </tbody>
    <tfoot>
		<tr>
			<td colspan="7"></td>
			<td class="no-wrapping rightAligned">Sub total</td>
			<td class="amountCell"><%# (OrderLines.Any()) ? OrderLines.Sum(x => x.Total).ToCurrencyAmount() : "" %></td>
		</tr>
		<tr>
			<td colspan="7"></td>
			<td class="rightAligned">VAT</td>
			<td class="amountCell"><%# (OrderLines.Any()) ? OrderLines.Sum(x => x.VAT).ToCurrencyAmount() : "" %></td>
		</tr>
    </tfoot>
</table>

<%# GetOrderLineIdsHiddenField() %>

</asp:PlaceHolder>