<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="EditOrderDiscounts.ascx.cs" Inherits="UCommerce.Web.UI.Orders.EditOrderDiscounts" %>
<%@ Import Namespace="UCommerce.EntitiesV2"%>

<div class="propertyPane leftAligned">
	<table class="dataList clickable ordersTable discountList" id="discountList" cellspacing="0" cellpadding="0" width="100%" style="margin-top: 25px;">
		<thead>
			<tr>
				<th style="width:31px;"></th>
				<th style="width:25px;"></th>
				<th><%= GetLocalResourceObject("Campaign.Text") %></th>
				<th><%= GetLocalResourceObject("CampaignItem.Text") %></th>
				<th><%= GetLocalResourceObject("Description.Text") %></th>
				<th class="quantityCell"></th>
				<th class="amountCell"></th>
				<th class="amountCell"><%= GetLocalResourceObject("Total.Text") %></th>
			</tr>
		</thead>
		<tbody>
			<asp:Repeater runat="server" ID="DiscountRepeater" DataSource="<%# Discounts %>" OnItemCommand="DiscountRepeater_ItemCommand" OnItemDataBound="DiscountRepeater_DataBound">
				<ItemTemplate>
					<tr class="<%# GetRowClass() %> orderLineRow">
						<td>
							<% if (IsEditable){ %>
							<asp:ImageButton ID="imbDelete" runat="server" ImageUrl="../Images/ui/delete.png" CommandName="Delete" CommandArgument='<%# DataBinder.Eval(Container.DataItem, "DiscountId") %>'  />
							<% } %>
						</td>
						<td>
							<a class="propertyLink" href="#" rel="<%# ((Discount)Container.DataItem).DiscountId %>"><img src="../Images/ui/expand.png" alt="" /></a>
						</td>
						<td class="textCell">
							<% if (IsEditable) { %>
								<asp:TextBox runat="server" ID="CampaignNameTextBox" Text='<%# Eval("CampaignName") %>' />
							<% } else { %>
								<%# DataBinder.Eval(Container.DataItem, "CampaignName") %>
							<% } %>
						</td>
						<td class="textCell">
							<% if (IsEditable) { %>
								<asp:TextBox runat="server" ID="CampaignItemNameTextBox" Text='<%# Eval("CampaignItemName") %>' />
							<% } else { %>
								<%# DataBinder.Eval(Container.DataItem, "CampaignItemName") %>
							<% } %>
						</td>
						<td class="textCell">
							<% if (IsEditable) { %>
								<asp:TextBox runat="server" ID="DescriptionTextBox" Text='<%# Eval("Description") %>' />
							<% } else { %>
								<%# DataBinder.Eval(Container.DataItem, "Description") %>
							<% } %>
						</td>
						<td></td>
						<td class="rightAligned">-</td>
						<td class="amountCell" >
							<% if (IsEditable)
							   { %>
								<asp:TextBox ID="AmountOffTotal" CssClass="discount" style="width:70px; text-align:right;" runat="server" Text='<%# Eval("AmountOffTotal") %>'></asp:TextBox>
                                <asp:HiddenField ID="DiscountId" runat="server" Value='<%# Eval("DiscountId") %>'></asp:HiddenField>
							<% }
							   else
							   { %>
								<%# ((decimal)DataBinder.Eval(Container.DataItem, "AmountOffTotal")).ToString("N") %>
							<% } %>
						</td>
					</tr>
					<asp:Repeater runat="server" ID="OrderLineDiscountRepeater" DataSource="<%# ((Discount)Container.DataItem).OrderLines %>">
						<ItemTemplate>
							<tr class="orderLineRow_<%# ((Discount)((RepeaterItem)Container.Parent.Parent).DataItem).DiscountId %>" style="display:none;">
								<td></td>
								<td></td>
								<td>
									<%# DataBinder.Eval(Container.DataItem, "Sku") %>
									<%# GetVariantSku(Container.DataItem) %>
								</td>
								<td colspan="5">
									<%# DataBinder.Eval(Container.DataItem, "ProductName") %>
								</td>
							</tr>
						</ItemTemplate>
					</asp:Repeater>
						<tr class="orderLineRow_<%# VisibleOrderDiscountText(((Discount)Container.DataItem).DiscountId) %>" style="display:none;">
							<td></td>
							<td></td>
							<td colspan="6">
								<%= GetLocalResourceObject("DiscountAppliedDirectlyToOrder.Text") %>
							</td>
						</tr>	
				</ItemTemplate>
			</asp:Repeater>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="8">&nbsp;</td>
			</tr>            
			<tr>
				<td colspan="6"></td>
				<td class="rightAligned"><%= GetLocalResourceObject("DiscountTotal.Text") %></td>
				<td class="amountCell">-<%# Format(View.Order.DiscountTotal) %></td>
			</tr>  
			<tr>
				<td colspan="6"></td>
				<td class="rightAligned"><%= GetLocalResourceObject("OrderTotal.Text") %></td>
				<td class="amountCell"><%# Format(View.Order.OrderTotal) %></td>
			</tr>            
		</tfoot>                                                                                              
	</table>
</div>

<script type="text/javascript">

	$(document).ready(function () {
		updateVisibleRowsColors("discountList", "listOdd", "listEven");

		$("a.propertyLink").click(function (event) {
			event.preventDefault();
			var id = $(this).attr("rel");
			$(".orderLineRow_" + id).toggle();
			updateVisibleRowsColors("discountList", "listOdd", "listEven");
		});

		function updateVisibleRowsColors(tableId, evenClass, oddClass) {
			$('table#' + tableId + ' tbody tr:visible').each(function (index) {
				$(this).removeClass(evenClass).removeClass(oddClass);
				var rowClass = (index % 2 == 0) ? evenClass : oddClass;
				$(this).addClass(rowClass);
			});
		}
	});

</script>