﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
  rendering.Class = "sc-ChartFilterControl";
  rendering.Requires.Script("client", "ChartFilterControl.js");

    rendering.GetString("selectedFilterItems", "selectedFilterItems");
    rendering.GetString("filterItems", "filterItems");
    rendering.GetString("sourceItems", "sourceItems");
    rendering.GetString("selectedSeries", "selectedSeries");
    rendering.GetString("compareRange", "compareRange");

  var htmlAttributes = rendering.HtmlAttributes;
}      
<div @htmlAttributes>
    <div class="filterWrapper">
        <div class="filterSelected">
            <div class="filterChevron"><button type="button" class="btn filterChevronButton filterChevronOff"></button></div>
            <div class="filterItems">
                <div class="filterItemDroppable droppable" data-droptarget="1"></div>
                <div class="filterItemDroppable droppable" data-droptarget="2"></div>
                <div class="filterItemDroppable droppable" data-droptarget="3"></div>
                <div class="filterItemDroppable droppable" data-droptarget="4"></div>
            </div>
        </div>
        <div class="filterSelectWrapper filterShow filterHidden">
            <div class="filterSelectContent">
                
            </div>
        </div>
        <div class="seriesSelectWrapper">
            <div class="seriesCheckBoxes">
                <input id="ValueSeries" type="checkbox" name="Value" value="Value" checked="yes" />
                <label for="ValueSeries">Value</label>
                <input id="VisitsSeries" type="checkbox" name="Visits" value="Visits" checked="true" />
                <label for="VisitsSeries">Visits</label>
                <p>selected series: </p>
            </div>
        </div>
    </div>
</div>
