﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
  rendering.Class = "sc-ListPaginater";
  rendering.Requires.Script("client", "ListPaginater.js");
  rendering.GetString("items", "items");
  rendering.GetString("sourceItems", "sourceItems");
  rendering.GetString("pageSize", "pageSize");

  var htmlAttributes = rendering.HtmlAttributes;
}      
<div @htmlAttributes>
    <div class="controls controls-row">
        <button type="button" class="btn" data-target="first">First</button>
        <button type="button" class="btn" data-target="prev">&laquo;</button>
        <button type="button" class="btn" data-target="next">&raquo;</button>
        <button type="button" class="btn" data-target="last">Last</button>
        
        Rows: <select id="rowSize">
            <option value="5" selected>5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="9999">All</option>
        </select>
    </div>
</div>
