﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
  rendering.Class = "sc-ToggleControl";
  rendering.HasNestedComponents = true;
  rendering.Requires.Script("client", "ToggleControl.js");
  
  var help = rendering.GetString("help", "help");
  rendering.Attributes["data-sc-help"] = help;

  var htmlAttributes = rendering.HtmlAttributes;
}      
<div @htmlAttributes>
    <div class="toggleWrapper">
        <label id="toggleControl"></label>
        <div id="help" style="display: none;">
            <p id="helpText">@help</p>
            @Html.Sitecore().Placeholder("Toggle.HelpSection")
        </div>
    </div>
</div>
