﻿<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app">
	<head>
		<script type="text/javascript">
			var alertFallback = false;
			if (typeof console === "undefined" || typeof console.log === "undefined") {
				console = {};
				if (alertFallback) {
					console.log = function (msg) {
						alert(msg);
					};
				} else {
					console.log = function () { };
				}
			}
		</script>
		<title>uCommerce</title>
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
		<link href="Content/Css/ucommerce-sitecore.css" rel="stylesheet" media="screen">
		<link href="Content/Css/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<body id="ucommerceMainPageBody">
		
		<div id="MainControllerContainer" data-ng-controller="MainController" class="container-fluid">
			<div class="columns content">
				<!-- The ucommerce-navigation directive displays the navigation tree. -->
				<!-- Directive: 'App/Directives/ucommerce.navigation.directive.js' -->
				<!-- View:      'App/Views/ucommerce-navigation.html' -->
				<div class="article-tree">
					<div class="tree-wrapper">
						<div class="ucommerce-tree-header">
							<h2 class="ucommerce-tree-header-text">uCommerce</h2>
						</div>
                        
						<div class="tree-wrapper-content" data-resize="">
							<ucommerce-navigation></ucommerce-navigation>
						</div>
					</div>
				</div>
				<ucommerce-splitter left=".article-tree" right=".content-area|.background" min-width-left="10" max-width-left="50">
									
				</ucommerce-splitter>
				<div class="background">
					<div>
						
					</div>
				</div>
				<!-- The iFrame displaying the uCommerce editor frame. -->
				<!-- The 'ucommerce-iframe' directive makes repond to urls when clicked in the tree. -->
				<div class="content-area">
					<iframe id="mainframe" src="../LandingPages/StartPage.aspx" ALLOWTRANSPARENCY="true" ucommerce-iframe=""></iframe>
					<!-- display none fixes that alert.body wont show on load because of angular late binding. -->
					<div id="AlertControllerContainer" data-ng-controller="AlertController" class="notifications bottom-right" style="display: none;">
						<ucommerce-alert ng-repeat="alert in alerts" close="closeAlert($index)" type="alertType(alert.type)" header="alert.header" timeout="5000">
							{{alert.body}}
						</ucommerce-alert>
					</div>
				</div>
			</div>
		</div>
		
		<div id="ModalControllerContainer" data-ng-controller="ModalController">
			<div id="ucommerceModal">
			</div>
		</div>
        
		<script src="App/json3.js"></script>
		<script src="Scripts/yepnope/yepnope.1.5.4-min.js"></script>	
		<!-- Loads the uCommerce angular app, along with all the requiremets. -->
		<script src="App/loader.js"></script>
		<script>
			document.createElement('ucommerce-navigation');
			document.createElement('ucommerce-splitter');
			document.createElement('ucommerce-alert');
			document.createElement('ucommerce-tree');
		</script>
	</body>
</html>
