<%@ Control Language="C#" Inherits="System.Web.UI.UserControl" %>
<%@ Import Namespace="Sitecore.SeoToolkit" %>
<div style="display: block" id="infoContent">
   <div id="staticInformationPlaceholder">
   </div>
   <br />
   <div id="dynamicInformationPlaceholder">
   </div>
   <%--<div class="seoAdminButtons">
      <%
         if (!SeoController.IsExteranalPage && SeoController.IsInDesignerRole)
      {%>
      <div class="seoToolButton" onclick="window.location='?sc_mode=edit'">
         <a href="?sc_mode=edit">
            <img src="<%=Sitecore.Resources.Images.GetThemedImageSource("Applications/24x24/document_edit.png", Sitecore.Web.UI.ImageDimension.id24x24)%>" 
                 alt='<%=Sitecore.SeoToolkit.Localization.ResourcesManager.Localize(Sitecore.SeoToolkit.Localization.ResourcesManager.GetResourceValue("PAGE_EDITOR"))%>' />     
            <span><%=Sitecore.SeoToolkit.Localization.ResourcesManager.Localize(Sitecore.SeoToolkit.Localization.ResourcesManager.GetResourceValue("SWITCH_TO_PAGE_EDITOR"))%></span> </a>
      </div>
      <%
         }
      %>

      <%
         if (SeoController.IsExteranalPage)
      {
      %>
      <div class="seoToolButton" onclick="window.location='<%= SeoController.PageUrl %>?sc_analyze=0&sc_mode=normal'">
         <a href="<%= SeoController.PageUrl %>?sc_analyze=0&sc_mode=normal">
              <img src="<%=Sitecore.Resources.Images.GetThemedImageSource("Network/24x24/keys.png", Sitecore.Web.UI.ImageDimension.id24x24)%>"
                 alt='<%=Sitecore.SeoToolkit.Localization.ResourcesManager.Localize(Sitecore.SeoToolkit.Localization.ResourcesManager.GetResourceValue("LOG_OUT"))%>' />
            <span><%=Sitecore.SeoToolkit.Localization.ResourcesManager.Localize(Sitecore.SeoToolkit.Localization.ResourcesManager.GetResourceValue("END_SEARCH_ENGINE_OPTIMIZATION"))%></span> </a>
      </div>
      
      <%
         }
         else 
         {
      %>
         <div class="seoToolButton" onclick="window.location='?sc_analyze=0&sc_mode=normal'">
           <a href="?sc_analyze=0&sc_mode=normal">
           <img src="<%=Sitecore.Resources.Images.GetThemedImageSource("Network/24x24/keys.png", Sitecore.Web.UI.ImageDimension.id24x24)%>" 
                alt='<%=Sitecore.SeoToolkit.Localization.ResourcesManager.Localize(Sitecore.SeoToolkit.Localization.ResourcesManager.GetResourceValue("LOG_OUT"))%>' />
           <span><%=Sitecore.SeoToolkit.Localization.ResourcesManager.Localize(Sitecore.SeoToolkit.Localization.ResourcesManager.GetResourceValue("END_SEARCH_ENGINE_OPTIMIZATION"))%></span> </a>
         </div>        
      <%
         }
      %>          
   </div>--%>
</div>
