﻿@model Sitecore.Social.Client.Mvc.Areas.Social.Models.LoginViewModel
<a href='@Url.Action("Login", "Connector", new { area = "Social", networkName = Model.NetworkName })' title='@Model.ToolTip' style="margin-left: 1px; margin-right: 1px;"><img src='@Url.Content(Model.Icon)' alt='@Model.ToolTip' style="border-style: none;vertical-align: middle;" /></a>