﻿/* Colours */
/* Screen Sizes (borrowed from Bootsrap) */
/* Media Query Helpers */
/* Common Variables */
.threeQuartersSizeControl {
  width: 60% !important;
  float: left;
}
.halfSizeControl {
  width: 48% !important;
  float: left;
}
.quarterSizeControl {
  width: 36% !important;
  float: left;
}
.font {
  font-family: 'Segoe UI Light' !important;
}
.sc {
  font-family: 'Segoe UI Light' !important;
  font-size: 90% !important;
}
tr:nth-child(even) {
  background-color: #f7f7f7;
}
tr:nth-child(odd) {
  background-color: #f7f7f7;
}
.sc h1,
.sc h2,
.sc h3,
.sc h4,
.sc h5,
.sc h6 {
  font-family: 'Segoe UI Light' !important;
  height: 10px !important;
  color: #000000;
}
.sc h2 {
  line-height: 1em !important;
}
/*# sourceMappingURL=base.css.map */