﻿@import "variables.less";

.threeQuartersSizeControl {
    width: 60% !important;
    float:left;
}
.halfSizeControl{
    width: 48% !important;
    float:left;
}
.quarterSizeControl {
    width: 36% !important;
    float:left;
}

.font {
    font-family: 'Segoe UI Light' !important;
}

.sc {
    .font;
    font-size: 90% !important;
}
tr:nth-child(even) {
    background-color: @ListRowColour2;
}
tr:nth-child(odd) {
    background-color: @ListRowColour1;
}

.sc h1, .sc h2, .sc h3, .sc h4, .sc h5, .sc h6 {
    .font;
    height: 10px !important;
    color: @HeaderFontColour;
}
.sc h2 {
    line-height: 1em !important;
}