﻿/* Colours */
/* Screen Sizes (borrowed from Bootsrap) */
/* Media Query Helpers */
/* Common Variables */
.threeQuartersSizeControl {
  width: 60% !important;
  float: left;
}
.halfSizeControl {
  width: 48% !important;
  float: left;
}
.quarterSizeControl {
  width: 36% !important;
  float: left;
}
.font {
  font-family: 'Segoe UI Light' !important;
}
.sc {
  font-family: 'Segoe UI Light' !important;
  font-size: 90% !important;
}
tr:nth-child(even) {
  background-color: #f7f7f7;
}
tr:nth-child(odd) {
  background-color: #f7f7f7;
}
.sc h1,
.sc h2,
.sc h3,
.sc h4,
.sc h5,
.sc h6 {
  font-family: 'Segoe UI Light' !important;
  height: 10px !important;
  color: #000000;
}
.sc h2 {
  line-height: 1em !important;
}
/* Useful functions */
body {
  background-color: #eeeeee !important;
}
footer {
  background-color: #eeeeee !important;
}
.sc .sc-text-largelabel {
  font-size: 1.4em !important;
}
.dx-widget {
  font-family: 'Segoe UI Light' !important;
}
.sc-applicationContent {
  /* background: none !important; */
  background: url('/sitecore/shell/client/Speak/Assets/img/analytics-header-gradient.png') repeat-x;
  background-position: top;
  max-width: 100% !important;
}
canvas,
.dxChart {
  width: 100% !important;
  max-width: 1450px;
  height: auto !important;
  max-height: 250px;
}
span[data-sc-id="Title"] {
  font-family: 'Segoe UI Light' !important;
  height: 10px!important;
  color: #000;
  font-size: 2.4em !important;
  font-weight: normal !important;
  line-height: 1;
}
div[data-sc-id="ValuePerVisitBar"] {
  border: 1px solid #ddd;
  background-color: #FFF;
  border-radius: 7px;
  padding: 20px;
}
div[data-sc-id="DashboardAccordion"] {
  border-top: none;
}
div[data-sc-id="ReferringSitesPaginater"] .controls-row {
  float: right;
}
#rowSize::before {
  content: "Rows: ";
}
div[id="LanguagePie"],
div[id="BrowserPieChart"],
div[id="ChannelPieChart"] {
  width: 100% !important;
  max-height: 150px;
}
div[id="ProfileColumn"],
div[id="PatternMatchesColumn"] {
  max-height: 200px;
}
div[id="LocationMapChart"] {
  width: 100%;
  height: 100%;
}
.sc .sc-table thead th {
  background: #fff !important;
  color: #232b2b !important;
  border-bottom: 1px solid #666666 !important;
}
.sc .sc-table tbody tr td.ventilate,
.sc .sc-table thead td.ventilate {
  position: static;
}
.sc-table {
  border: 0px !important;
}
.sc-accordion,
.sc-accordion-header {
  border: none !important;
  line-height: 0.8em !important;
}
.sc-accordion,
.sc-accordion-header,
.sc-accordion-header-actionbar {
  background-color: #4d4d4d !important;
  background: #4d4d4d !important;
}
.sc-accordion-header-chevron {
  background-color: transparent;
}
.sc-accordion-header-title {
  width: 0 !important;
  display: none !important;
}
.sc-accordion,
.sc-accordion-body {
  border-top: 0 !important;
}
.sc-accordion-header table tbody tr {
  background-color: #4d4d4d !important;
  background: #4d4d4d !important;
}
.sc-hyperlinkbuttonsgroup div ul li a {
  width: 50%;
}
.sc .sc-hyperlinkbuttonsgroup li:hover,
.sc .sc-hyperlinkbuttonsgroup li a:hover {
  background-color: transparent !important;
  color: #fff !important;
}
.sc-applicationContent div[data-sc-id="TopCampaignsTitle"] {
  margin-top: 15px !important;
}
.sc .sc-iconhyperlinkbutton .sc-icon {
  width: 47px !important;
  height: 35px !important;
  margin-left: 5px !important;
  background-size: 60%;
  background-repeat: no-repeat;
  margin-top: -7px;
}
.sc-accordion .sc-accordion-header a.data-sc-registered span.sc-accordion-header-chevron-glyph {
  background: url("/sitecore/shell/client/Speak/Assets/img/arrowsprite.png") no-repeat !important;
  background-position: 0;
  height: 10px !important;
  margin-top: 8px !important;
}
.sc-accordion .sc-accordion-header a.data-sc-registered span.sc-accordion-header-chevron-glyph.sc-accordion2-header-chevron-glyph-open {
  background: url("/sitecore/shell/client/Speak/Assets/img/arrowsprite.png") no-repeat !important;
  background-position: 0 -10px !important;
  margin-top: 8px !important;
}
.sc .sc-iconhyperlinkbutton .sc-hyperlink-text {
  vertical-align: middle !important;
  color: white !important;
  font-weight: 200 !important;
  margin: 10px 0 3px 0 !important;
  padding-left: 30px !important;
  margin-left: 20px !important;
}
.sc-iconhyperlinkbutton[href="#"] {
  cursor: default;
}
img[data-sc-id="FooterLogo"] {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.sc-iconhyperlinkbutton {
  margin-top: 15px !important;
}
.sc-iconhyperlinkbutton:hover {
  background-color: none !important;
  background: none !important;
}
.sc-hyperlinkbuttonsgroup div ul li {
  height: 25px !important;
  margin-bottom: 10px !important;
}
.sc .sc-dialogContent-navigation .sc-hyperlinkbutton,
.sc .sc-applicationContent-navigation .sc-hyperlinkbutton {
  padding-left: 52px;
  color: white !important;
}
.active {
  background-color: #f6c5bb;
}
.sc .sc-hyperlinkbuttonsgroup li[sc-selected] {
  background: #d7ebf5;
}
.sc .sc-hyperlinkbuttonsgroup li[sc-selected] a {
  background: #d7ebf5;
  color: black !important;
  font-weight: normal !important;
}
.sc .sc-dialogContent-navigation a.sc-iconhyperlinkbutton.icon,
.sc .sc-applicationContent-navigation a.sc-iconhyperlinkbutton.icon,
.sc .sc-frameworkContent-navigation a.sc-iconhyperlinkbutton.icon {
  padding-bottom: 15px;
}
.sc-applicationContent-navigation {
  position: absolute;
  background-color: #4d4d4d !important;
  top: 50px !important;
  bottom: 0px !important;
  padding: 0 !important;
  width: 15% !important;
  min-height: 300px;
}
.date-range-field {
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 8px;
}
.sc-CustomSelectList,
.sc-combobox {
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 8px;
  font-family: 'Segoe UI Light' !important;
  height: 34px;
}
.sc-CustomSelectList {
  float: right !important;
}
.sc-accordion-header {
  border-top: 1px solid rgba(239, 238, 238, 0.2) !important;
}
div[data-sc-id="ReportTitleRow"] {
  margin-bottom: 15px !important;
}
.sc-listcontrol {
  width: 100% !important;
}
.rowSize {
  height: 24px !important;
  padding: 10px 0px !important;
  margin-top: 25px !important;
}
.rowSizeLarge {
  height: 44px !important;
  margin-top: 25px !important;
}
div[data-sc-id="TotalRow"] {
  height: 24px !important;
  padding: 10px 0px !important;
  margin-top: 25px !important;
  padding: 10px 0 !important;
  background-color: #d4d4d4;
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 6px;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
span[data-sc-id="TotalVisitors"] {
  padding-left: 15px;
}
div[data-sc-id="BrowsersColumn"] {
  width: 60% !important;
  float: left;
  margin-left: 4%;
  margin-bottom: 50px;
}
div[data-sc-id="ProfileTable"],
div[data-sc-id="PatternTable"] {
  width: 77% !important;
  float: left;
}
div[data-sc-id="ProfileTable"] div div table thead tr th:first-child,
div[data-sc-id="PatternTable"] div div table thead tr th:first-child {
  width: 80%;
}
a[data-sc-id="GoalLink"],
a[data-sc-id="CampaignLink"] {
  float: right;
  padding-top: 8px;
}
div[data-sc-id="ProfileTableSelectorColumn"],
div[data-sc-id="PatternsTableSelectorColumn"] {
  width: 20% !important;
  float: left;
  padding: 10px 20px 0px 0px;
}
div[data-sc-id="BrowserDataGridColumn"],
div[data-sc-id="BrowserPieInnerColumn"] {
  width: 50% !important;
  float: left;
}
div[data-sc-id="BrowserList"],
div[data-sc-id="CampaignReferringSitesColumn"],
div[data-sc-id="CampaignGoalsColumn"],
div[data-sc-id="OperatingSystemColumn"],
div[data-sc-id="DeviceColumn"],
div[data-sc-id="ProfileTableColumn"],
div[data-sc-id="PatternCountColumn"],
div[data-sc-id="PatternsTableColumn"] {
  width: 48% !important;
  float: left;
}
div[data-sc-id="LanguageList"],
div[data-sc-id="LanguageDataListColumn"] {
  width: 60% !important;
  float: left;
}
div[data-sc-id="PieColumn"],
div[data-sc-id="LanguagePieColumn"] {
  width: 40%!important;
  float: left;
}
div[data-sc-id="LanguageColumn"] {
  width: 36% !important;
  float: left;
}
div[data-sc-id="BrowserPieInnerColumn"] {
  max-height: 150px;
}
div[data-sc-id="VisitsPatternRow"],
div[data-sc-id="VisitProfileRow"] {
  height: 215px;
}
div[data-sc-id="VisitsColumn"] {
  height: 500px;
}
.sc-ListPaginater {
  float: right;
}
div[data-sc-id="TopGoalsTitleRow"],
div[data-sc-id="VisitsTitleRow"],
div[data-sc-id="PatternsTableRow"],
div[data-sc-id="VisitsTablesRow"],
div[data-sc-id="CustomerListRow"],
div[data-sc-id="TopCampaignsTitleRow"],
div[data-sc-id="ReportTitleRow"],
div[data-sc-id="MiscDataRow"],
div[data-sc-id="BrowsersRow"],
div[data-sc-id="OperatingSystemRow"],
div[data-sc-id="DeviceRow"],
div[data-sc-id="LocationRow"],
div[data-sc-id="CampaignGoalsRow"],
div[data-sc-id="CampaignReferringSitesRow"],
div[data-sc-id="ReportSelectRow"],
div[data-sc-id="LocationListRow"],
div[data-sc-id="NewReturningVisitorRow"],
div[data-sc-id="GoalDetailListTitleRow"],
div[data-sc-id="UserAgentRow"],
div[data-sc-id="DevicesRow"],
div[data-sc-id="LanguageRow"],
div[data-sc-id="ChannelListTitleRow"],
div[data-sc-id="ListControlTitleRow"],
div[data-sc-id="ProfileCountRow"],
div[data-sc-id="ProfileCountHistoryRow"],
div[data-sc-id="PatternCountRow"],
div[data-sc-id="ReferringSitesRow"] {
  border-bottom: 2px solid #dc3d24;
  color: #000000 !important;
  height: 24px !important;
  padding: 10px 0px !important;
  margin-top: 25px !important;
  clear: both;
}
div[data-sc-id="EngagementDistributionRow"],
div[data-sc-id="EngagementDistributionRowHistory"] {
  border-bottom: 2px solid #dc3d24;
  color: #000000 !important;
  clear: both;
}
div[data-sc-id="DatePickerRow"] {
  color: #000000 !important;
  height: 44px !important;
  margin-top: 25px !important;
  clear: both;
  margin-bottom: 12px;
}
div[data-sc-id="DatepickerColumn"] {
  float: right !important;
}
span[data-sc-id="VersionLabel"] {
  margin-left: 20px !important;
  margin-top: 20px !important;
}
div[data-sc-id="ProfileTableSelectorColumn"] button,
div[data-sc-id="PatternsTableSelectorColumn"] button {
  min-height: 45px !important;
  min-width: 120px !important;
  background-color: #dc3d24;
  border-style: none;
  color: white !important;
  text-decoration: none !important;
  cursor: pointer !important;
  padding: 5px;
  text-align: center;
  float: left;
  clear: left;
}
span[data-sc-id="TotalVisitsLabel"],
span[data-sc-id="TotalVisitorsLabel"],
span[data-sc-id="TotalProfilesLabel"],
span[data-sc-id="TotalPatternCardsLabel"] {
  font-weight: bold;
  font-style: italic;
}
div[data-sc-id="CustomerEngagementColumn"],
div[data-sc-id="TotalsColumn"] {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 47% !important;
  /*box-shadow: 2px 2px 5px #ccc;*/
  margin-top: 70px;
  margin-left: 3% !important;
  background-color: #f8f8f8;
}
div[data-sc-id="ProfileTableSelectorColumn"] button:not(:first-child),
div[data-sc-id="PatternsTableSelectorColumn"] button:not(:first-child) {
  margin-top: 10px;
}
div[data-sc-id="ProfileTableSelectorColumn"] button:hover,
div[data-sc-id="PatternsTableSelectorColumn"] button:hover {
  background-color: #008ed6;
}
.sc-applicationContent-main {
  width: 75% !important;
}
section.sc-applicationContent-main {
  background: none;
}
select[data-sc-id="PieValueSelect"],
select[data-sc-id="PieValueSelect"],
a[data-sc-id="ClearVersionLink"] {
  float: right;
  width: 35%;
  margin-top: 20px !important;
  margin-right: 10px !important;
}
.dxm-background {
  stroke: #fff;
}
div[data-sc-id="CampaignHeaderRow"],
div[data-sc-id="GoalHeaderRow"] {
  /*.box-shadow(6px 6px 3px @Shadow);*/
  display: inline-block;
  box-sizing: border-box;
  padding: 15px;
  max-width: 100%;
  height: auto;
  line-height: 1.428571429;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 15px;
}
span[data-sc-id="VersionText"],
span[data-sc-id="CreatedByText"],
span[data-sc-id="GoalEVP"],
span[data-sc-id="GoalDescription"] {
  float: left;
  clear: left;
  margin-top: 5px;
}
span[data-sc-id="FacetText"] {
  float: right;
  margin-right: 10px !important;
  margin-top: 3px !important;
}
div[data-sc-id="ReportSelectLinks"] {
  width: 30%;
  float: left;
  margin-bottom: 30px;
}
.extractData {
  float: right;
}
.extractDataLabel img {
  margin-left: 5px;
  margin-bottom: 3px;
}
.extractDataLabel:hover {
  cursor: pointer;
  text-decoration: underline;
}
.extractDataLabel img:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 0px 2px #222222);
  filter: drop-shadow(0px 0px 2px #222222);
}
.extractData:hover {
  cursor: pointer !important;
}
div[data-sc-id="ReportSelectLinks"] div ul li a {
  width: 100%;
  height: 30px;
  color: #008ed6 !important;
  padding: 5px;
}
div[data-sc-id="BounceRateList"],
div[data-sc-id="LengthOfVisitList"] {
  width: 70% !important;
  float: left;
}
.chevron {
  position: relative;
  padding: 0px;
  height: 17px;
  width: 6px;
  margin-left: 0px;
  margin-top: 0px;
}
.chevron:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: gray;
  -webkit-transform: skew(25deg, 0deg);
  -moz-transform: skew(25deg, 0deg);
  -o-transform: skew(25deg, 0deg);
  -ms-transform: skew(25deg, 0deg);
  transform: skew(25deg, 0deg);
}
.chevron:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  height: 50%;
  width: 100%;
  background: gray;
  -webkit-transform: skew(25deg, 0deg);
  -moz-transform: skew(25deg, 0deg);
  -o-transform: skew(25deg, 0deg);
  -ms-transform: skew(25deg, 0deg);
  transform: skew(25deg, 0deg);
}
.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.daterangepicker-wrapper {
  width: 450px;
  float: right;
}
.sc .sc-iconhyperlinkbutton .sc-hyperlink-text.icon {
  padding: 15px;
}
.sc-applicationHeader {
  display: none;
  visibility: hidden;
}
#VisitsChartBlock,
#ValueChartBlock,
#VisitorChartBlock,
#PageViewsChartBlock,
#BounceRateChartBlock {
  border-right: 1px solid #ccc;
  border-left: none;
}
.sc-ChartJsBlock h2,
.sc-ChartJsBlock h4 {
  padding-left: 15px;
}
#LengthOfVisitChartBlock {
  border: none;
}
div.d3Block {
  margin-left: 0px;
  width: 100%;
}
div .d3Block svg {
  height: 100%;
}
.blockheight {
  height: 110px;
}
.sc-globalHeader {
  background-color: #222222;
  border: none !important;
}
.chartPanel {
  padding: 18px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.chartPanel svg {
  padding-right: 20px;
}
.leftAlignedColumn {
  text-align: left !important;
}
.rightAlignedColumn {
  text-align: right !important;
}
.sc-table tr td,
.sc-table tr th {
  text-align: right !important;
}
.sc-table tr td:first-child,
.sc-table tr th:first-child {
  text-align: left !important;
}
#rowSize {
  margin: 0;
  width: 64px;
}
/* FILTER BAR */
.filterWrapper {
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid #cccccc;
  margin-bottom: 20px;
  float: left;
}
.filterSelected {
  width: 100%;
  height: 60px;
  float: left;
}
.filterChevron {
  width: 5%;
  height: 85%;
  padding: 4px;
  float: left;
}
.filterChevron button {
  height: 100%;
  width: 100%;
  padding: 0 !important;
}
.filterChevronOff {
  background: #e6e4e4 url("/sitecore/shell/client/Speak/Assets/img/arrow-down.png") no-repeat !important;
  background-position: 50% 50% !important;
}
.filterChevronOn {
  background: #e6e4e4 url("/sitecore/shell/client/Speak/Assets/img/arrow-right.png") no-repeat !important;
  background-position: 50% 50% !important;
}
.filterItems {
  width: 93%;
  height: 60px;
  float: left;
}
.filterItemDroppable {
  height: 58px;
  float: left;
  width: 23%;
}
.filterItemDroppable:not(:first-child) {
  margin-left: 10px !important;
}
.filterItem {
  position: relative;
  height: 60px;
  float: left;
}
.filterItemGauge {
  height: 100%;
  float: left;
  min-width: 40px;
}
.filterItemGaugeChart {
  height: 50px;
  width: auto;
  padding: 5px;
}
.filterItemText {
  width: 60%;
  float: left;
}
.filterItemClear {
  position: absolute;
  top: 4px;
  right: 4px;
}
.filterItemClear:hover {
  cursor: pointer;
}
.filterItemClear img {
  width: 15px;
  height: 15px;
}
.filterSelectWrapper {
  width: 100%;
  float: left;
  border-top: 1px solid #878686;
  background-color: #d4d4d4;
  padding-bottom: 15px;
}
.seriesSelectWrapper {
  width: 100%;
  float: left;
  border-top: 1px solid #cccccc;
  padding-bottom: 15px;
  background-color: #d4d4d4;
  height: 15px;
}
.seriesCheckBoxes {
  float: right;
  width: 50%;
  text-align: right;
}
.seriesCheckBoxes p {
  margin-right: 15px;
  float: right;
  margin-top: 0;
  font-size: 16px;
}
.seriesCheckBoxes input {
  margin-top: 6px !important;
  margin-left: 3px !important;
}
.seriesCheckBoxes input,
.seriesCheckBoxes label {
  float: right;
  margin-top: 0;
}
.seriesCheckBoxes:first-child {
  margin-right: 15px;
}
.filterSelected .filterItem .filterItemGauge img {
  display: none;
}
.filterSelected .filterItem .filterItemText span {
  overflow: hidden;
  height: 20px !important;
  margin: 0 !important;
  display: inline-block;
}
.filterSelected .filterItem .filterItemText p {
  margin: 0 !important;
}
.filterSelected .filterItem:first-child {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
.filterSelected .filterItem:not(:first-child) {
  border-right: 1px solid #cccccc;
}
.filterSelectContent {
  height: 100%;
  width: 100%;
  padding: 15px;
}
.filterSelectContent .filterItem {
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: move;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: #FFF;
}
.filterSelectContent .filterItem .filterItemGauge img {
  width: 20px;
  height: 20px;
}
.filterSelectContent .filterItem .filterItemGaugeChart {
  display: none;
}
.filterSelectContent .filterItem .filterItemClear {
  display: none;
}
.filterSelectContent .filterItem .filterItemText {
  width: 63%;
  margin-top: 8px;
}
.filterSelectContent .filterItem .filterItemGaugeChart img {
  margin-left: 10px !important;
  margin-top: 5px !important;
}
.filterShow {
  display: inline-block;
}
.filterHidden {
  display: none;
}
.dx-texteditor-input {
  height: auto !important;
  margin: 0!important;
}
.dx-datagrid .dx-menu .dx-menu-item-content .dx-icon {
  margin: 10px 2px 0 3px !important;
}
.chartBlockRangeCurrent {
  float: left;
  width: 10px;
  height: 10px;
  background-color: #125687;
  margin-left: 15px;
  margin-top: 8px;
  margin-right: 10px;
}
.chartBlockRangePrevious {
  float: left;
  width: 10px;
  height: 10px;
  background-color: #EF8200;
  margin-left: 15px;
  margin-top: -8px;
  margin-right: 10px;
}
/* Mobile */
@media screen and (max-width: 600px) {
  .filterItems .filterItem {
    width: 100%;
  }
  .filterSelectContent .filterItem {
    width: 100%;
  }
  .filterItemGauge {
    width: 25%;
  }
  .filterItemText {
    padding-left: 5px;
  }
  .sc-hyperlink-text {
    font-size: 14px !important;
  }
  img[data-sc-id="FooterLogo"] {
    display: none;
  }
  .sc-applicationContent-main {
    margin-left: 220px !important;
  }
  .sc-applicationContent-navigation {
    width: 200px !important;
  }
  .sc-text-largelabel {
    font-size: 1em !important;
  }
  .d3Block h2 {
    font-size: 1em !important;
  }
  .d3Block h4 {
    font-size: 1em !important;
  }
}
/* Tablet */
@media screen and (min-width: 601px) and (max-width: 1100px) {
  .filterItems .filterItem {
    width: 100%;
  }
  .filterSelectContent .filterItem {
    width: 200px;
  }
  .filterItemGauge {
    width: 25%;
  }
  .filterItemText {
    padding-left: 10px;
  }
  .sc-hyperlink-text {
    font-size: 16px !important;
  }
  .sc-applicationContent-main {
    margin-left: 250px !important;
  }
  .sc-applicationContent-navigation {
    width: 230px !important;
  }
  .sc-text-largelabel {
    font-size: 1.05em !important;
  }
  .d3Block h2 {
    font-size: 1.5em !important;
  }
  .d3Block h4 {
    font-size: 1em !important;
  }
}
/* Tablet Up */
@media screen and (min-width: 1101px) {
  .filterItems .filterItem {
    width: 100%;
  }
  .filterSelectContent .filterItem {
    width: 250px;
  }
  .filterItemGauge {
    width: 20%;
  }
  .filterItemText {
    padding-left: 10px;
  }
  .sc-hyperlink-text {
    font-size: 20px !important;
  }
  .sc-applicationContent-main {
    margin-left: 300px !important;
  }
  .sc-applicationContent-navigation {
    width: 280px !important;
  }
}
.dx-page {
  background-color: #e2e2e2;
}
/* TODO: WHEN AGGREGATION WORKS THE FOLLOWING 2 SELECTORS NEED TO BE DELETED */
.aggregation-wrap {
  display: none !important;
}
#datepicker-dropdown {
  padding-bottom: 17px !important;
}
.aggregation {
  display: none !important;
}
/* TODO: END OF THE AREA TO BE DELETED */
.sc .sc-hyperlinkbuttonsgroup ul {
  z-index: 1;
  position: relative;
}
.sc-accordion .sc-accordion-header table .sc-accordion-header-chevron {
  z-index: 1;
  position: relative;
}
.comparison {
  line-height: 29px;
  height: 29px;
  margin-bottom: 2px;
}
#datepicker-dropdown .comparison input[type="checkbox"] {
  height: 29px;
}
.compareselect {
  margin-top: 5px;
  width: 89px !important;
  float: right;
  margin-bottom: 0;
}
.main-daterange {
  height: 48px;
}
.daterange-preset {
  float: right;
  width: 89px !important;
  margin-top: 2px;
  margin-bottom: 0;
}
.main-daterange div {
  margin-bottom: 3px;
}
#datepicker-dropdown .btn-group #button-ok {
  width: 89px;
}
#datepicker-dropdown .btn-group #button-cancel {
  width: 89px;
  float: right;
}
.toggleWrapper {
  margin-bottom: 6px;
  float: right;
  width: 100%;
}
#toggleControl {
  width: 32px;
  float: right;
  background-image: url("/sitecore/shell/client/SPEAK/Assets/img/question_and_answer.png");
  background-repeat: no-repeat;
  height: 32px;
}
#help {
  background-color: #ffffff;
  float: right;
  clear: both;
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 6px;
}
#help .nav-tabs .active {
  background: inherit !important;
}
#help .nav-tabs a {
  border: 1px solid #d4d4d4 !important;
  border-radius: 5px !important;
}
.sc .sc-tabcontrol.subTab > .nav-tabs {
  border: 0;
  margin-bottom: 0;
}
#helpText {
  padding: 0 14px;
}
#help .sc-tabcontrol {
  padding: 3px 10px 10px 10px;
}
#help .tab-content .active {
  padding: 10px ;
  background-color: #eeeeee;
}
.sc-tabcontrol {
  padding: 3px 0px 10px 0px;
}
.tab-content .active {
  padding: 15px 0px;
  background-color: #eeeeee;
}
.chartBlockLoading {
  background-color: rgba(248, 248, 255, 0.7);
  min-height: 200px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.chartBlockLoading span {
  position: absolute;
  top: 50%;
  left: 30%;
}
.chartBlockLoading img {
  position: absolute;
  top: 24%;
  left: 34%;
}
div[data-sc-id="ChartBarRow"] {
  min-height: 200px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #cccccc;
  border-radius: 6px;
  border-top: none !important;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
div[data-sc-id="CustomerEngagementColumn"] {
  margin-top: 29px !important;
}
div[data-sc-id="CountTabs"] .tab-content .active,
div[data-sc-id="EVDTabControl"] .tab-content .active {
  background-color: transparent;
}
div[data-sc-id="TotalRow"] .sc-text-label {
  float: left;
  margin-left: 15px;
}
img[data-sc-id="GoalIcon"] {
  padding: 0 15px 8px 0 !important;
}
span[data-sc-id="GoalTitle"] {
  font-size: 28px !important;
  font-weight: normal !important;
}
.sc-SiteSwitcher {
  float: right;
  padding-right: 20px;
}
#siteSwitcher {
  height: 35px;
  border: 1px solid #cccccc;
  border-radius: 6px;
}
div[data-sc-id="TopGoalsDataGrid"] tr,
div[data-sc-id="TopCampaignsDataGrid"] tr {
  cursor: pointer;
}
/*************************************************************************************************/
/*********************************     USEROPTIONS STYLING     ***********************************/
/*************************************************************************************************/
.sc-UserOptions {
  float: right;
  margin-left: 20px;
}
.optionsMenu,
.optionsMenu > ul {
  background-color: #c3c3c3;
}
.optionsMenu li {
  padding-left: 26px;
  height: 16px;
  cursor: pointer;
  line-height: 15px;
}
.optionsMenu {
  background: url('/sitecore/shell/client/Speak/Assets/img/gears.png') no-repeat;
  height: 40px;
  width: 32px;
  position: relative;
}
.optionsMenu > ul {
  display: none;
  width: 150px;
  list-style: none;
  padding: 10px;
  position: absolute;
  top: 22px;
  right: 0;
  border-radius: 6px;
  border: 1px solid #cccccc;
}
.resetFilters {
  background: url('/sitecore/shell/client/Speak/Assets/img/signpost_delete.png') no-repeat;
}
.resetAll {
  background: url('/sitecore/shell/client/Speak/Assets/img/replace2.png') no-repeat;
}
.resetDates {
  background: url('/sitecore/shell/client/Speak/Assets/img/stopwatch_reset.png') no-repeat;
}
div[data-sc-id="ActiveVisitorsColumn"] {
  padding: 10px;
  border: 1px solid #878686;
  border-radius: 6px;
  background-color: #ffffff;
  margin-right: 20px;
}
div[data-sc-id="TopRow"],
div[data-sc-id="MiddleRow"],
div[data-sc-id="BottomRow"] {
  text-align: center;
}
div[data-sc-id="TopRow"] span {
  font-size: 1.5em !important;
  font-weight: bold !important;
  margin-left: auto;
  margin-right: auto;
}
div[data-sc-id="MiddleRow"] span {
  font-size: 2.2em !important;
}
div[data-sc-id="BottomRow"] span {
  font-size: 1.4em !important;
}
/* DATEPICKER BOOTSTRAP STYLING */
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  clear: both;
  float: right;
  width: 100%;
}
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: 0;
  color: inherit;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}
.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/*# sourceMappingURL=reportingtheme.css.map */