﻿/* Colours */
@HeadingActive: #DC3D24;
@HeaderText: #ffffff;
@ActiveText: #000000;
@Accent: #E3AE57;
@ChartPrimary: #008ED6;
@ChartSecondary: #86BE2B;
@SecondHead: #D4D4D4;
@MainRow: #878686;
@ListHover: #f6c5bb;
@ListRowColour1: #F7F7F7;
@ListRowColour2: #F7F7F7;
@ListInactive: #232B2B;
@ListSelected: #D7EBF5;
@ApplicationBackground: #EEE;
@BorderColour: #CCCCCC;

 

@HeaderFontColour: #000000;
@Shadow: #e6e4e4;
@Sidebar: #4D4D4D; 

/* Screen Sizes (borrowed from Bootsrap) */
@screen-small-max: 480;
@screen-smallmedium-min: 481;
@screen-smallmedium-max: 768;
@screen-medium-min: 769;
@screen-medium-max: 992;
@screen-large-min: 993;

/* Media Query Helpers */
@smallTablet:   ~"(min-width: @screen-smallmedium-min) and (max-width: @screen-smallmedium-max)";
@largetablet:    ~"(min-width: @screen-medium-min) and (max-width: @screen-medium-max)";
@tabletUp:    ~"(min-width: @{screen-smallmedium-min})";
@tabletDown:    ~"(max-width: @{screen-medium-max})";
@allTablet:    ~"(min-width: @screen-smallmedium-min)";
@desktop:    ~"(min-width: @screen-large-min)";
@mobileDown:    ~"(max-width: @screen-small-max)";

/* Common Variables */
@BorderRadius: 6px;
