﻿@using System.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
    var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
    rendering.Class = "sc-ChartJsBar";
    rendering.Requires.Script("client", "ChartJsBar.js");

    //Get attrs
    rendering.GetString("items", "items");
    rendering.GetString("title", "title");
    rendering.GetString("rotated", "rotated");
    rendering.GetString("chartType", "chartType");

    rendering.SetAttribute(HtmlTextWriterAttribute.Id, rendering.ControlId.ToString(CultureInfo.InvariantCulture));
    var htmlAttributes = rendering.HtmlAttributes;
}      

<div style="position: relative;">
    <div @htmlAttributes>
    </div>
</div>