textarea
{
	font-size: 11px;
	font-family: Trebuchet MS,Lucida Grande,verdana,arial;
}

.centerAligned
{
	text-align: center !important;
}

#SelectorTreeView table
{
	padding-bottom: 2px;
}

#SelectorTreeView img
{
	padding-right: 5px;
}

.variantContainer textarea
{
	width: 300px;
	height: 60px;
}

.variantContainer td, .variantContainer th
{
	padding-right: 10px;
	vertical-align: top;
}

.propertyText
{
	width: 200px;
}

table.propertyEditorContainer textarea
{
	width: 100%;
	height: 150px;
}

.propertyDescription {
	font-size: smaller;
	font-weight: normal;
}

table.propertyEditorContainer
{
	width: 100%;
}

.leftAligned
{
	text-align: left;
}

.topAligned td
{
	vertical-align: top;
}

.rightAligned
{
	text-align: right !important;
}

.amountInput
{
	text-align: right;
}

.smallWidth
{
	width: 150px;
}

.smallWidthInput
{
	width: 150px;
	padding: 2px;
	margin: 0;
	margin-top: 4px;
	border: 1px solid #c3c3c3;
}

.smallHeight
{
	height: 50px;
}

.mediumWidth
{
	width: 220px;
}

select.mediumWidth {
	width: 224px;
}

.largeWidth
{
	width: 300px;
}

.maxWidth
{
	width: 100%;
}

.textArea
{
	font-family: Trebuchet MS,Lucida Grande,verdana,arial;
	font-size: 11px;
}

.validator
{
	color: red;
	margin-left: 5px;
	font-size: 1em;
}

.uc-rte
{
	width: 100%;
	height: 100%;
}

.uc-rte
{
	width:100%;
	height:100%;
}

.approved, .unapproved, .new, .approvedComment, .unapprovedComment, .commentLink
{
	cursor: pointer;
}

.headlineText
{
	padding-bottom: 10px;
}

.iconWidth
{
	width: 20px;
}

.ratingWidth
{
	width: 125px;
}

.reviewList tbody tr:nth-child(odd)
{
	background-color: #F5F5F5;
}

.commentList tbody tr:nth-child(even)
{
	background-color: #F5F5F5;
}

.commentList tbody tr:nth-child(odd)
{
	background-color: #FFFFFF;
}

.commentListOdd tbody tr:nth-child(odd)
{
	background-color: #F5F5F5;
}

.spanLink
{
	cursor: pointer;
	text-decoration: underline;
}

.spanLink:hover
{
	text-decoration: none;
}

.propertyPaneUCommerce
{
	background-image: url("../images/propertyBackground.gif");
	background-repeat: repeat-x;
	border: 1px solid #BABABA;
	display: block;
	margin: 10px;
	text-align: left;
}

div.treeNodeName
{
	padding-left: 3px;
}

div.targetAwardContainer fieldset
{
	margin-bottom: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
    border-radius: 5px;
}

.voucherCode tbody tr:nth-child(odd)
{
	background-color: #F5F5F5;
}

.validationMessage
{
	color: Red;
}

#mediaTree {
    background-color: white !important;
}

a.media-link 
{
    cursor: pointer;
    color: #1541A9 !important;
    margin-left: 10px !important;
}

a.media-link.clear-media 
{
    color: red !important;    
}

ins.jstree-icon.media-item 
{
    background: url('../images/ui/mediaPhoto.gif') no-repeat 50% 50%
}

ins.jstree-icon.folder {
	background: url('../images/ui/folder.png') no-repeat 50% 50%
}

.hide {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}