﻿#editor 
{	
	background:none;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

.panel
{
	background: url(../images/panel/panel_bg.gif) top repeat-x !important;
}

.panelstatus
{
	margin: 0 auto; /* center for now */
	width: 17em; /* ems so it will grow */
	font-size: 100%;
}

.panel .boxhead
{
	background: url(../images/panel/panel_boxhead_bg.gif) top left no-repeat; 
	height:19px;
	
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
}

.panel .boxhead h2, 
.panel .boxfooter h5
{
	background: url(../images/panel/panel_boxhead_h2_bg.gif) top right no-repeat;
	margin: 0px;
	padding: 3px 0px 1px 10px;
	font-weight: bold;
	text-align: left;
	font-family: "Trebuchet MS" , verdana, arial;
	font-size: 11px;
	color: #378080;
	display: block;
	height: 14px;
	width: auto;
}

.panel .boxbody
{
	border-top: 1px solid #cac9c9;
	border-right: 1px solid #cac9c9;
	border-left: 1px solid #cac9c9;
	/*background: url(images/panel_boxfooter_bg.gif) bottom left repeat-y #fff; 	*/
	padding-left:1px;
	
	position:absolute;
	top:19px;
	left:0px;
	bottom:12px;
	right:0px;
	padding: 10px;
}

.panel .boxfooter
{
	height: 12px;
	background: url(../images/panel/panel_boxfooter_bg.gif) 11px 11px repeat-x #fff;
	
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
}

.panel .boxfooter .statusBar
{
	height: 12px;
	margin: 0px;
	background: url(../images/panel/panel_boxfooter_statusBar_bg.gif) top left no-repeat;
}
.panel .boxfooter .statusBar h5
{
	display: block;
	height: 12px;
	margin: 0px;
	padding: 0px;
	background: url(../images/panel/panel_boxfooter_statusBar_h2_bg.gif) top right no-repeat;
	font-size:11px;
	padding-left:10px;
	overflow:hidden;
}