
.propertyPane 
{
	border: 1px solid #BABABA;
	background-image: url(../images/PropertyPane/propertyBackground.gif);
	margin: 10px;
	display: block;
	padding: 10px;
}

div.propertyPane.dialog-actions {
	background-image: none;
	border: none;
	padding-left: 0px;
	padding-right: 0px;
	margin: 10px;
}

div.propertyPane.dialog-header {
	background-image: none;
	border: none;
	padding: 0px;
}

.propertyPane th
{
	vertical-align: top;
	text-align: left;
	font-weight: bold;
	font-family: Trebuchet MS, Lucida Grande, verdana, arial;
	font-size: 12px;
	width: 16%;
}

.propertypane, .propertypane td
{
	font-family: Trebuchet MS, Lucida Grande, verdana, arial;
	font-size: 12px;
}



.propertypane small
{
	font-weight: normal;
	color: #666;
}

.propertyItem
{
	padding-bottom: 5px;
	clear: both;
	font-family: Trebuchet MS, Lucida Grande, verdana, arial;
	font-size: 12px !important;
}

.propertyName {
	font-weight: bold;
}

.propertyItemHeader
{
	width: 16%;
	padding-right: 1%;
	padding-bottom: 10px;
	float: left;
	clear: left;
	font-weight: bold;
}

.propertyItemHeader.propertyItemContentSmall {
	min-width: 100px
}

.propertyItemDropDown {
	width: 204px;
}

.propertyItemContent
{
	float: left;
	padding-bottom: 5px;
	clear: right;
	width: 82%;
}

.propertyItemContent.propertyItemContentSmall {
	width: 60%;
}

h2.propertyPaneTitel
{
	font-size: 14px;
	color: #999;
	padding-bottom: 0px;
	line-height: 14px;
}

div.propertyPaneFooter
{
	clear: both;
	height: 1px;
	overflow: hidden;
	color: #fff;
}